[2019-04-07 01:39] qq237942920 opened #1 "where can I download the pretrained model?"
where can I download the pretrained model like “resnet-50-caffe.pth”

[2019-04-07 01:40] YuwenXiong commented on #1
Please carefully check README, and make sure you run init.sh first

[2019-04-07 01:40] #1 closed

[2019-04-07 01:51] qq237942920 commented on #1
thx!

[2019-04-07 01:59] qq237942920 opened #2 "why I got the error in deformable_col2im invalid argument?"
why I got the error in deformable_col2im invalid argument?   Even though it goes wrong, it still tells me loss, is that ok?

[2019-04-07 02:05] YuwenXiong commented on #2
It seems like some environment configurations will cause this issue and the solution remains unknown, please comment L283 and L382 in upsnet/operators/src/deform_conv_kernel.cu and recompile it to suppress the log

[2019-04-07 02:16] qq237942920 commented on #2
At present, the procedure seems to work without other problems. However, will the invalid argument problem influence result?

[2019-04-07 13:56] qq237942920 opened #3 "About soft copy or deep copy in init_coco.py"
Thanks for your good project, I have a question about your code. The code in your project you released `pano_json_stff = pano_json.copy()` is dict.copy, which is soft copy in subobject , only deep copy in parent object. It seems to make the categories repeated and wrong in `panoptic_coco_categories_stff.json`. Could you tell me whether the code is correct?

[2019-04-07 16:29] YuwenXiong commented on #3
Thanks for point out this issue. You are right, I made this bug when I release the codebase (the annotation files I used were generated long time ago. And I just rewrote the code before I released it and didn't do carefully check.) Thanks again, now the code has been updated and please rerun init_coco.py to generate the new annotation files.

[2019-04-07 16:34] YuwenXiong commented on #2
From our experience, it won't affect the results as long as the loss decreases normally

[2019-04-08 01:27] qq237942920 commented on #2
Thank you for your patient reply!

[2019-04-08 01:32] qq237942920 commented on #3
OK! Thank you for your patient reply and nice work!

[2019-04-08 01:48] qq237942920 opened #4 "A question about channel selecting in formula Z_unknown"
Thanks for your good project, I have a question about your code in detail. The code in your project you released `void_logits = torch.max(fcn_output['fcn_score'][:, (config.dataset.num_classes - 1):, ...], dim=1, keepdim=True)[0] - torch.max(seg_inst_logits, dim=1, keepdim=True)[0]
` is seems to be not corresponding to the paper formula `Z_unknown = max (X_thing) - max (X_mask)`.
The first max ite

[2019-04-08 02:31] YuwenXiong commented on #4
Yeah you are right, it should be `(config.dataset.num_seg_classes-config.dataset.num_classes+1)` just like here: https://github.com/uber-research/UPSNet/blob/master/upsnet/operators/modules/unary_logits.py#L73, otherwise for cityscapes it involves extra 3 stuff classes and for coco it removes the first 27 thing classes, which I think will cause performance degradation. I apologize for the mistake

[2019-04-08 02:31] #4 closed

[2019-04-08 02:48] YuwenXiong commented on #2
Try using newer nvcc (e.g. 9.1 or 10.0) might solve this issue

[2019-04-08 03:10] WenFuLee opened #5 "Typo in init_cityscapes.sh?"
After downloading cityscapes database, I found their file names have no "Train" in
"cp gtFine/*/*/*labelTrainIds.png labels"

So, I removed "Train" as below
"cp gtFine/*/*/*labelIds.png labels"

Am I right? Thanks.

[2019-04-08 03:12] YuwenXiong commented on #5
No, please use https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscripts/preparation/createTrainIdLabelImgs.py to generate labelTrainIds files, use labelIds files is incorrect.

[2019-04-08 03:12] #5 closed

[2019-04-08 03:13] WenFuLee opened #6 "Question about undefined symbol"
Below is the error message I got. Not so sure about how to fix it. Could you help me with this? Thanks.

====
UPSNet_ROOT$ python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/upsnet_resnet50_coco.yaml
upsnet/../upsnet/config/config.py:180: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for f

[2019-04-08 03:20] YuwenXiong commented on #6
The most likely reason is that the pytorch version you used to build the operator is different from the pytorch version you used to run experiments. Please double check the python env/pytorch version and try to rebuild the operators (don't forget to delete `upsnet/operators/build folder` first)

[2019-04-08 03:30] WenFuLee commented on #6
Thanks for the reply.

Below are the versions of my pythond and pytorch.
python                    3.6.8
pytorch                   0.4.1

Also, I just followed your suggestions.
(1) Delete upsnet/operators/build folder first
(2) Run "init.sh" to rebuild the operators
(3) Run the experiment.

But still got the same issue. Is there anything I missed or misunderstood? Thanks.

[2019-04-08 03:37] YuwenXiong commented on #6
Try to run `python build_deform_conv.py build_ext --inplace` and `python build_roialign.py build_ext --inplace` manually, make sure your python is with pytorch 0.4.1, then run python under `upsnet/operators/_ext/deform_conv`, make sure your python is with pytorch 0.4.1 again, then execute `import torch` and `import deform_conv_cuda` manually, it should be no problem if your environment setup is co

[2019-04-08 03:46] WenFuLee commented on #6
Below is the result of following your suggestions.
Would you mind telling me what might be the reasons for this environment issue? Thanks.
====
~/UPSNet_ROOT/upsnet/operators/_ext/deform_conv$ python
Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

0.4.1

Traceback (most recent call last):

[2019-04-08 03:52] YuwenXiong commented on #6
can you show me the output of the operator building?

[2019-04-08 03:55] WenFuLee commented on #6
Do you mean this?

====
~/UPSNet_ROOT/upsnet/operators$ python build_deform_conv.py build_ext --inplace
running build_ext
building 'deform_conv_cuda' extension
creating build
creating build/temp.linux-x86_64-3.6
creating build/temp.linux-x86_64-3.6/src
gcc -pthread -B /opt/anaconda3/compiler_compat -Wl,--sysroot=/ -Wsign-compare -DNDEBUG -g -fwrapv -O3 -Wall -Wstrict-prototypes -fPIC -I/home/wen-f

[2019-04-08 04:03] YuwenXiong commented on #6
I think you can find solution here: https://github.com/pytorch/extension-cpp/issues/6#issuecomment-424948254. I'm surprised that `-D_GLIBCXX_USE_CXX11_ABI=0` doesn't show in your compile argument since it shows in my side. Please check if your gcc version is > 5.1, if it is I think that's the case. You can manually add `'-D_GLIBCXX_USE_CXX11_ABI=0'` to https://github.com/uber-research/UPSNet/blob/

[2019-04-08 04:12] WenFuLee commented on #6
Do I add `-D_GLIBCXX_USE_CXX11_ABI=0` or `_GLIBCXX_USE_CXX11_ABI=0`?
In the post you shared, they seem to use `_GLIBCXX_USE_CXX11_ABI=0` instead?

[2019-04-08 04:14] YuwenXiong commented on #6
`_GLIBCXX_USE_CXX11_ABI` is the macro name, in compiler argument it should be `-D_GLIBCXX_USE_CXX11_ABI=0` with a `-D` prefix

[2019-04-08 04:29] WenFuLee commented on #6
Thanks. I might have a little progress, but still got an error below. I google it, which might be related to my cuda version: https://github.com/NVlabs/PWC-Net/issues/11
My current cuda version is: release 10.0, V10.0.130
Could this be the possible reason?

[code]

[2019-04-08 04:34] YuwenXiong commented on #6
I never saw this issue before. Probably changing cuda version would solve it. From my side cuda 9.1/gcc 4.9.4 works for me

[2019-04-08 05:59] GengDavid opened #7 "Results on ADE20k?"
Thanks for your great work.
Find that you have provided [codes for ADE20K](https://github.com/uber-research/UPSNet/blob/master/upsnet/dataset/ade20k.py), but I can find results neither in the paper nor here. Have you tested your model on ADE20K dataset? And will you share the panoptic results with us someday in the future?
Thanks.

[2019-04-08 14:19] qq237942920 commented on #2
Thank you ! Though I still use nvcc 9.0 , it seems to work without other error except for the above problem.

[2019-04-08 14:48] YuwenXiong commented on #7
Thanks for your attention, it's on the plan but may not very soon. Currently I only ran on instance segmentation task and got 21.9 mask mAP. Contributions on ADE20K are welcomed.

[2019-04-08 14:58] dxbdxx opened #8 "Training is slow."
Hello, I am trying to reproduce the results without horovod.
I use 4 Tesla K80 gpus (12GB) and train the net with "upsnet_resnet50_coco_4gpu.yaml" but I find that it may take more than 10 days for training.
Have you got some advice for speeding up the training?
Thanks.

[2019-04-08 15:03] YuwenXiong commented on #8
K80 is ~2x slower than 1080 Ti (5.6 TFLOPS vs 11.3 TFLOPS). And we suggest use 8-16 GPUs for coco experiments. I think on COCO 10 days for 4 K80 GPU is a normal time. Please try smaller dataset such as Cityscapes.

[2019-04-08 15:06] dxbdxx commented on #8
Thank you. I'll try this.

[2019-04-08 15:06] #8 closed

[2019-04-08 15:22] GengDavid commented on #7
Great to hear that! 😄

[2019-04-08 23:33] WenFuLee opened #9 "ModuleNotFoundError: No module named 'upsnet.bbox.bbox'"
Did I miss any step to get this error?

[code]

This is what I got in the route: upsnet/bbox

[code]

Thanks.

[2019-04-08 23:45] YuwenXiong commented on #9
From your information you only compile bbox cython module with python 3.7, make sure you also use python 3.7 when you run experiments.

[2019-04-08 23:47] YuwenXiong commented on #9
Also config files w/o 4gpu suffix are with horovod in distributed setting

[2019-04-09 03:49] WenFuLee commented on #9
We only have 1 GPU in our environment now. Is it still compatible with the distributed setting?

[2019-04-09 15:32] YuwenXiong commented on #9
Then please edit the 4gpu config, reduce lr by 4x / enlarge #iter by 4x, etc. BTW I don't think you can run coco dataset w/ 1 GPU in a acceptable time, please try cityscapes instead.

[2019-04-09 15:32] #3 closed

[2019-04-09 17:23] LaoYang1994 opened #10 "init_coco.sh bug"
It seems that there is a bug in init_coco.sh.
maybe `PYTHONPATH=$(pwd)/lib/dataset_devkit/panopticapi:$PYTHONPATH` should change to
`PYTHONPATH=$(pwd)/lib/dataset_devkit:$PYTHONPATH`

[2019-04-09 20:01] YuwenXiong commented on #10
Thanks for pointing out, now it has been fixed.

[2019-04-09 20:01] #10 closed

[2019-04-10 08:47] lxtGH commented on #8
@YuwenXiong Hi, What using 4 1080TI  GPU on COCO?  How long does it cost on COCO? I have tried to train cityscapes which cost me about 2 days.

[2019-04-10 09:00] lxtGH opened #11 "ZeroDivisionError: division by zero"
2019-04-10 16:16:39,900 | upsnet_end2end_test.py | line 303: unified pano result:
Traceback (most recent call last):
  File "upsnet/upsnet_end2end_test.py", line 312, in <module>
    upsnet_test()
  File "upsnet/upsnet_end2end_test.py", line 304, in upsnet_test
    test_dataset.evaluate_panoptic(test_dataset.get_unified_pan_result(all_ssegs, all_panos, all_pano_cls_inds, stuff_area_limit=config.te

[2019-04-10 12:54] ZhongYingMatrix commented on #11
Maybe caused by ‘/’ difference between py2 and py3?
from __future__ import division

[2019-04-10 13:21] ParanoidW opened #12 "ModuleNotFoundError: No module named 'upsnet.operators.modules.distbatchnorm'"
Error message:
Traceback (most recent call last):
  File "upsnet/upsnet_end2end_train.py", line 61, in <module>
    from upsnet.models import *
  File "upsnet/../upsnet/models/__init__.py", line 1, in <module>
    from .resnet_upsnet import resnet_50_upsnet, resnet_101_upsnet
  File "upsnet/../upsnet/models/resnet_upsnet.py", line 23, in <module>
    from upsnet.models.fpn import FPN
  File "upsne

[2019-04-10 19:39] YuwenXiong commented on #12
Thanks for pointing it out, you can simply comment out all lines which try to import distbatchnorm or pull the latest code.

[2019-04-10 19:39] #12 closed

[2019-04-11 02:02] WenFuLee commented on #9
I am not so sure to make the setting upsnet_resnet50_cityscapes_4gpu.yaml to fit my current environment with only 1 GPU. I have done the change below.
====
train:
gpus: '0,1,2,3' -> '0'
lr: 0.005 -> 0.00125
max_iteration: 48000 -> 192000
decay_iteration:
  - 36000 -> 144000
warmup_iteration: 1500 -> 6000

test:
test_iteration: 48000 -> 192000
====
Did I miss anything? Thanks.

[2019-04-11 02:20] YuwenXiong commented on #11
I think you are run coco experiments, please pull the latest code and rerun init_coco.sh and retrain the model since the previous code has a bug in annotation generation, and the training/eval will be wrong (See https://github.com/uber-research/UPSNet/issues/3#issue-430148613).  Sorry for any inconvenience.

[2019-04-11 02:24] lxtGH commented on #11
Hi! Thanks for reply, @YuwenXiong no, I am training the model the Cityscapes dataset, the MAP is near the results of paper.

[2019-04-11 02:29] ParanoidW commented on #12
Thanks you. Another question, what should I do if I want to use syncbn?

[2019-04-11 03:31] Xiaolongbetter opened #13 "ConnectionResetError: [Errno 104] Connection reset by peer AND ValueError: Expected input batch_size (423) to match target batch_size (465)."
When I  training the model on COCO dataset,  it can run normally at the beginning, and the loss is also decrease. But the following problems will occur in the middle：

Traceback (most recent call last):
  File "/home/xxl/anaconda3/envs/py36_th04/lib/python3.6/site-packages/torch/utils/data/dataloader.py", line 399, in __del__
    self._shutdown_workers()
  File "/home/xxl/anaconda3/envs/py36_th04/

[2019-04-11 03:36] YuwenXiong commented on #13
This error means you encounter training failure (usually because lr is too large), please note that upsnet_resnet50_coco.yaml is for 16 GPUs w/ Horovod, if you use that config w/o Horovod then you will only use 1 GPU and lr will be too large (however due to the warmup you may not encounter that issue at the beginning). If that is the case, please use upsnet_resnet50_coco_4gpu.yaml instead.

[2019-04-11 03:40] YuwenXiong commented on #12
Currently our syncbn requires horovod, however we still have some issues on it so I didn't release it. Please ignore it at the moment.

[2019-04-11 03:47] YuwenXiong commented on #9
looks good to me

[2019-04-11 03:48] ParanoidW commented on #12
Does it has a influence on results?

[2019-04-11 03:57] YuwenXiong commented on #11
Please pull the latest code and rerun init_cityscape.sh or manually download http://www.yuwenxiong.com/dataset/cityscapes/annotations/panoptic.zip and unzip it under data/cityscapes. Sorry for the inconvenience.

[2019-04-11 04:02] WenFuLee commented on #9
I know training takes a long time. Could you please give me a rough time how long it may take to finish training a model using only 1 GPU based on the above setting? Thank you!

[2019-04-11 04:04] YuwenXiong commented on #9
It will take ~3 days to train on 1 1080Ti GPU

[2019-04-11 04:20] WenFuLee commented on #9
I see. What if I don't need a model as accurate as your best one? Could I trade off performance for less training time? For example, I can decrease the iteration numbers in order to get a trained model more quickly, which may have lower accuracy. If this is acceptable, what parameters I can try first, iteration number or else? Thank you!

[2019-04-11 04:22] Xiaolongbetter commented on #13
Thanks for your patience. The truth seems to be true. When I only use 1 GPU with upsnet_resnet50_coco.yaml, this error will appear around batch[300]. When I use 2 GPUs with upsnet_resnet50_coco_4gpu.yaml, this error will appear around batch[12000]. If I want to use two GPU training, can I guarantee the normal operation by reducing the lr in upsnet_resnet50_coco_4gpu.yaml, or I need to have at leas

[2019-04-11 05:04] YuwenXiong commented on #9
You can reduce #iter, e.g. 72k/96k rather than 144k/192k

[2019-04-11 05:28] YuwenXiong commented on #13
Then please double #iter and reduce lr by 2x

[2019-04-11 05:30] YuwenXiong commented on #8
4 1080Ti for cityscapes should be done < 1day, and for coco it will be ~5 days

[2019-04-11 05:38] Xiaolongbetter commented on #13
Thank you very much for your answer.

[2019-04-11 06:28] lxtGH commented on #11
Sitll the same problem

[2019-04-11 09:14] sitingshen opened #14 "Cannot find reference 'deform_conv_cuda'"
Thanks for your great work.
I followed the installation steps and  the installation was successful,but when i begin to train the model ,it tells me "Cannot find reference 'deform_conv_cuda'",but the file is already exists，i don't how to fix it. Could you help me with this? Thanks.

[2019-04-11 10:59] Xiaolongbetter commented on #14
I think you may find the answer here [https://github.com/uber-research/UPSNet/issues/6](url).

[2019-04-11 11:07] Xiaolongbetter commented on #14
I think you may find the answer by previous help-seeking question "Question about undefined symbol".

[2019-04-11 11:25] sitingshen commented on #14
it works，thank you very much for your answer.

[2019-04-11 17:27] #14 closed

[2019-04-11 17:27] #13 closed

[2019-04-14 02:16] #11 closed

[2019-04-15 13:44] ZHANGDONG-NJUST commented on #6
Hi, have you solved this problem ? I meet the same one, but I have no idea about that.

[2019-04-16 04:59] WenFuLee commented on #6
After downgrading CUDA to 9.1, this was solved.

[2019-04-16 06:30] myBestLove opened #15 "no module named upsnet.operators.modules.distbatchnorm"
from upsnet.operators.modules.distbatchnorm import BatchNorm2d

but no distbatchnorm file

[2019-04-16 12:38] Xiaolongbetter opened #16 "KeyError: 'color'"
When I  test on COCO dataset, The following error occurred：

File "/UPSNet-master/upsnet/upsnet_end2end_test.py", line 313, in <module>
    upsnet_test()
  File "/UPSNet-master/upsnet/upsnet_end2end_test.py", line 185, in upsnet_test
    test_dataset.evaluate_panoptic(test_dataset.get_unified_pan_result(results['all_ssegs'], results['all_panos'], results['all_pano_cls_inds'], stuff_area_limit=conf

[2019-04-16 17:06] YuwenXiong commented on #16
Hi, thanks for pointing it out, I've fixed it, please pull the latest code and rerun `python init_coco.py` to generate a new `panoptic_val2017_stff.json`, then evaluation should be fine.

[2019-04-16 17:06] #16 closed

[2019-04-16 18:07] YuwenXiong commented on #15
Please make sure you get the latest code, and see my response in https://github.com/uber-research/UPSNet/issues/12#issuecomment-481833360

[2019-04-16 18:07] #15 closed

[2019-04-16 21:26] WenFuLee opened #17 "OSError: [Errno 12] Cannot allocate memory"
I got this error: OSError: [Errno 12] Cannot allocate memory as below.
I am wondering if this is because my current GPU memory is too small, which is 13 GB now.
<img width="1440" alt="Screen Shot 2019-04-16 at 4 22 42 PM" src="https://user-images.githubusercontent.com/34199594/56245068-11044780-6064-11e9-87ce-3b1a92f5db47.png">

[2019-04-16 21:29] YuwenXiong commented on #17
I think that might because your cpu memory is not large enough. You can modify base_dataset.py L225, change cpu_num to a smaller number, e.g. 1, 2 or 4

[2019-04-16 22:48] WenFuLee commented on #17
I tried cpu_num = 1 and 2, but it didn't help. Wondering how many CPU ram you have.
I google this issue: https://stackoverflow.com/questions/20111242/how-to-avoid-errno-12-cannot-allocate-memory-errors-caused-by-using-subprocess/26416661
I may try to use swap now...

[2019-04-17 01:59] WenFuLee opened #18 "How could we get PQ values?"
No matter I run training or testing script, the metrics all I see are AP or AR. Wondering if we should we calculate PQ values ourselves. Or there is anything I missed? Thanks.

[2019-04-17 02:04] YuwenXiong commented on #17
Then please try to remove all multi-thread code, use a single core instead, for example change L228 to `p = BaseDataset._load_image_single_core(proc_id, files_set, pan_gt_folder)` and do corresponding modification for other part.

[2019-04-17 02:46] Xiaolongbetter opened #19 "ValueError: operands could not be broadcast together with shapes (427,640) (426,640)"
Thank you for modifying the problem of ‘’panoptic_val2017_stff.json‘’. When I use the fixed json file, there is such an error：  ZeroDivisionError: division by zero.  I think there may be a problem in '/UPSNet-master/upsnet/dataset/base_dataset.py''  line 222. And I replaced ‘’files = [item['file_name'] for item in pan_gt_json['images']]‘’ with ‘’files = [item['file_name'].replace('jpg', 'png') for

[2019-04-17 02:52] WenFuLee opened #20 "Question about visualization"
(1) After setting vis_mask to true, I got the result below. However, I found all cars are recognized as trains...Wondering if there is something with my training
<img width="1401" alt="Screen Shot 2019-04-16 at 9 48 28 PM" src="https://user-images.githubusercontent.com/34199594/56257314-715dae00-6091-11e9-89e5-6f442ceafbb9.png">

(2) How do we get the result of panoptic segmentation as below, inst

[2019-04-17 03:00] YuwenXiong commented on #20
If you evaluate PQ successfully you will get those panoptic segmentation output (they are saved automatically to get PQ number).

For vis_mask, sorry that that part of code is outdated and class order is not right, I've updated it, please pull the latest code and you will get right visualization.

[2019-04-17 03:00] #20 closed

[2019-04-17 03:08] Xiaolongbetter commented on #18
When test on cityscapes, I can get PQ values directly. And I could get the panoptic segmentation results like below：
![image](https://user-images.githubusercontent.com/38773847/56257870-42325580-6100-11e9-857b-02bdaf1ff371.png)
I think you should describe the details of the problem you are experiencing more carefully.

[2019-04-17 03:54] YuwenXiong commented on #19
Sorry for make so many annoying error, the annotations were generated long time ago and I didn't remember the details when I released the code. Please pull the latest code and regenerate `panoptic_val2017_stff.json`, now it should be fine.

[2019-04-17 03:54] #19 closed

[2019-04-17 05:06] WenFuLee commented on #17
After adding swap, I got some progress. I haven't tried to remove all multi-thread code and to use a single core. All I changed is to hard-code cpu_num to 1. Do you have any idea? Thanks.

[code]

[2019-04-17 06:34] Xiaolongbetter commented on #19
Thank you very much for your patience and your great work. Now I have tested it on COCO and Cityscapes dataset, I feel that there may be no problem.

[2019-04-17 08:04] qq237942920 commented on #18
@WenFuLee I meet the same problem as you said, but I just test the cocodataset. Furthermore, I found the another problem is that key "color" is not in `panoptic _coco_categories_stiff.json` after `coco_init.sh` which  seems to cause the problem when we calculate PQ values. When I refer to the `panoptic_api` in official github: [https://github.com/cocodataset/panopticapi/blob/master/panoptic_coco_c

[2019-04-17 08:08] Xiaolongbetter commented on #18
@qq237942920  For coco dataset，Please pull the latest code ''init_coco.py'' and regenerate panoptic_val2017_stff.json. I think it will be fine.

[2019-04-17 08:12] qq237942920 commented on #18
@YuwenXiong I think your team completed the work before the update of `panoptic_api`, so when I git clone the updated panoptic_api, you still use it with old version. Actually, there are many issues about `COCO Panoptic data does not have 'color' attribute`  in `panoptic_api`. If I'm wrong about your project, I'm so sorry and looking forward your reply.

[2019-04-17 08:14] qq237942920 commented on #18
I tried it again ,but it still tell me the same problem.

[2019-04-17 08:21] qq237942920 commented on #18
@Xiaolongbetter @YuwenXiong Oh,I found the project had updated 4 hours ago, so I think it fixed the bug about it. I'm so sorry for my problem. Thank you for your patient reply.

[2019-04-17 08:33] AllenSpurs opened #21 "Question about visualization when trying to test COCO dataset(train2014)"
Thanks for your great work!
I had trained the model with COCO train2017&val2017, and pulled the latest code, but when I trying to test COCO dataset (train2014) with setting the vis_mask=True, I still only got an instance segmentation like figure.
Is there anything that needs special attention?
![COCO_train2014_000000000025 jpg](https://user-images.githubusercontent.com/38784792/56272497-622c3e00-6

[2019-04-17 09:11] qq237942920 commented on #21
Do you want to get the panoptic segmentation figure?

[2019-04-17 11:25] AllenSpurs commented on #21
Yes, that is what I want, I just want to utilize the panoptic segmentation figure to extract some image feature. Need any sepcific setting here?
Thank you.

[2019-04-17 11:26] AllenSpurs commented on #21
Yes, that is what I want, I just want to utilize the panoptic segmentation figure to extract some image feature. Need any sepcific setting here?
Thank you.

[2019-04-17 11:35] qq237942920 commented on #21
No, it will produce the panoptic segmentation figures for you automatically！

[2019-04-17 11:40] AllenSpurs commented on #21
So if all goes well, should the panoptic segmentation figures  be in the directory like "UPSNet/output/upsnet/coco/upsnet_resnet50_coco_4gpu/test2015/results/vis"?

[2019-04-17 11:46] qq237942920 commented on #21
directory like "UPSNet/upsnet/output/upsnet/coco/upsnet_resnet50_coco_4gpu/val2017/results/pans_unified/pan/"

[2019-04-17 11:51] AllenSpurs commented on #21
OK, I will set the mask_vis to False and try it again.
Thank you for your patient reply.

[2019-04-18 02:53] WenFuLee commented on #17
After removing all multi-thread code and using a single core instead, I got errors about `p.get()`,
which shows p is a list object and doesn't have `get()` function. How should I modify codes for p.get() as well? Thanks.

[2019-04-18 02:54] YuwenXiong commented on #17
use p instead

[2019-04-18 04:06] WenFuLee opened #22 "ZeroDivisionError: division by zero"
When doing an evaluation on the test set, I got the following error. I don't have any clue about it.

[code]
But, the panoptic segmentation results can be successfully generated like below.
![lindau_000000_000019](https://user-images.githubusercontent.com/34199594/56339661-c7efe880-6174-11e9-9088-16c6b5caff0f.png)

So, how is that possible that I run into the case n = 0? Any idea would be apprecia

[2019-04-18 13:53] JoyHuYY1412 opened #23 "will you further apply it to resnet101?"

[2019-04-18 18:14] WenFuLee commented on #18
@Xiaolongbetter I saw your above panoptic segmentation results. Wondering when you got your PQ results, did you experience this issue: https://github.com/uber-research/UPSNet/issues/22. Thanks.

[2019-04-18 18:19] YuwenXiong commented on #22
please check https://github.com/uber-research/UPSNet/issues/11#issuecomment-481955737

[2019-04-18 18:20] YuwenXiong commented on #23
You can do it by yourself, simply change https://github.com/uber-research/UPSNet/blob/master/upsnet/experiments/upsnet_resnet50_cityscapes_4gpu.yaml#L4 to resnet_101_upsnet

[2019-04-18 18:20] #23 closed

[2019-04-18 18:21] WenFuLee commented on #11
@lxtGH I saw you close this issue. I have the same. Wondering how you solve this issue in the end. Thanks.

[2019-04-18 19:03] WenFuLee commented on #11
I tried manually download http://www.yuwenxiong.com/dataset/cityscapes/annotations/panoptic.zip and unzip it under data/cityscapes (to be specific, should be data/cityscapes/annotations), but it still didn't work. BTW, I also evaluate on cityscapes now. If this issue was actually closed, please someone tells me how to fix this. Thanks.

[2019-04-18 19:07] WenFuLee commented on #22
I followed #11 (comment), but the solutions in the comments didn't work out for me.

[2019-04-18 21:04] YuwenXiong commented on #11
@WenFuLee please don't unzip it under `data/cityscapes/annotations`, it should be under `data/cityscapes`

[2019-04-18 21:33] WenFuLee commented on #11
Thank you @YuwenXiong . After unzipping the file under `data/cityscapes`, it works.

[2019-04-18 21:34] WenFuLee commented on #22
This issue was solved according to #11 .

[2019-04-18 21:34] #22 closed

[2019-04-18 21:35] WenFuLee commented on #18
This issue was solved after successfully evaluating the test set.

[2019-04-18 21:35] #18 closed

[2019-04-18 21:35] WenFuLee commented on #17
This issue was solved after removing all multi-thread code and using a single core instead.

[2019-04-18 21:35] #17 closed

[2019-04-18 21:36] #6 closed

[2019-04-18 21:36] #9 closed

[2019-04-19 02:02] #21 closed

[2019-04-20 03:34] WenFuLee opened #24 "Gradient w.r.t input is NoneType"
I wanted to observe the gradient w.r.t input (that is, the input image here).
So, I tried to print `data['data'].grad` after `loss.backward()` below.
https://github.com/uber-research/UPSNet/blob/master/upsnet/upsnet_end2end_train.py#L216
But I got an error saying that `data['data'].grad` is NoneType.
Is there anything I misunderstand or missed? Any idea would be appreciated. Thanks.

[2019-04-22 22:56] whw19950510 commented on #6
Hi, I also have this same issue. I followed the instruction cited here but still not work(add flags after cxx && nvcc), my torch version and cuda version is all the same. Any further suggestions? Thanks.

[2019-04-23 01:08] ZHANGDONG-NJUST commented on #6
Please check your CUDA path in profile.

[2019-04-23 03:33] WenFuLee opened #26 "KeyError"
I got the following error. Wondering if I need to delete `/gtInstances.json` first. Thanks.

<img width="1440" alt="Screen Shot 2019-04-22 at 10 31 17 PM" src="https://user-images.githubusercontent.com/34199594/56551618-779ad100-654e-11e9-95ca-32dc85176856.png">

[2019-04-24 09:14] JoyHuYY1412 commented on #1
Is this pretrained model trained on ImageNet for image classification?  When I run your code, I found the
`rcnn_accuracy` is already high in the beginning. Does that mean the rcnn head has been trained well?

[2019-04-24 15:24] JoyHuYY1412 opened #27 "question about generating panoptic-gt"
https://github.com/uber-research/UPSNet/blob/9191a59de894ae95831b622c7d20102db5c93b6f/upsnet/operators/modules/mask_matching.py#L61

where do you use this function to generate ground truth panoptic logits?

BTW, is this possible to use COCO panoptic dataset annotations to generate them?

[2019-04-24 15:27] YuwenXiong commented on #27
We didn't use this function as we use ground truth roi during training, so https://github.com/uber-research/UPSNet/blob/4da1b65bbd79212ec78f29f359063eb93a8f4ab6/upsnet/operators/modules/mask_matching.py#L28 is enough.

For you second question I'm afraid I don't get it.

[2019-04-24 15:39] JoyHuYY1412 commented on #27
Thank you for your reply. I mean can we use the annotation images which is already provided in the Coco panoptic dataset to generate the ground truth file you require.

Btw, does the pretrained model trained on Imagenet for image classification? I load this model and I find the mrcnn accuracy is already very high in the begining, so I wonder has the mrcnn head been trained already.

[2019-04-24 17:48] YuwenXiong commented on #27
Currently it does require official coco annotation files.

The pretrained models are pretrained on ImageNet. In joint training setting you may find rcnn accuracy is high at the beginning and will decrease, that is because at the beginning RPN cannot provide proposals with high quality and most proposals are background which are easy to classify.

[2019-04-24 17:48] #27 closed

[2019-04-24 21:55] gupta-abhay opened #28 "Code not executing"
Hi,

After following all the steps mentioned and setting up the environment as python 3.6; pytorch 0.4.1; the code has many bugs making it difficult to reproduce the results. Are there some other changes that need to be done - or do following these steps directly work? I am trying to train the model on COCO using the single GPU config file.

[2019-04-24 22:05] YuwenXiong commented on #28
We don't provide 1 gpu config file, I think you might be using the 16gpu config file which requires Horovod. Please modify the 4gpu config by following this: https://github.com/uber-research/UPSNet/issues/9#issuecomment-481302785 if you want to use 1 GPU

[2019-04-24 22:11] gupta-abhay commented on #28
After reading the issue - it seems that we need python 3.7 and 3.6 - if so, can you update the README with the same?

[2019-04-24 22:19] YuwenXiong commented on #28
I think you misread the issue. And I use python 3.6 and CUDA 9.1.

If the code cannot execute on your side please post essential information/output here.

[2019-04-25 04:48] WenFuLee commented on #24
Hi, does anyone know how I can solve this issue? I am still stuck with this. Thanks.

[2019-04-25 04:50] WenFuLee commented on #26
This issue was solved after deleting `/gtInstances.json`.

[2019-04-25 04:50] #26 closed

[2019-04-25 04:55] gupta-abhay commented on #28
<img width="1026" alt="image" src="https://user-images.githubusercontent.com/8841427/56710549-bf5b5d00-66f4-11e9-88ed-cf67a787d953.png">

getting error similar to issue #9 - i have compiled with python 3.6 and cuda 9.1; i have only 1 GPU - did the suggested changes. I am trying to run for COCO dataset.

[2019-04-25 06:10] gupta-abhay commented on #28
Got the code working! Thank you for the inputs.

[2019-04-25 06:10] #28 closed

[2019-04-30 09:02] koncle opened #29 "How to reproduce the result reported in the paper?"
I have trained the network with the configuration file of upsnet_resnet50_cityscapes_4gpu.yaml and 4 2080Ti gpus. The configuration file is not modified at all.

And after testing the model with test_iteration of 48000, the result shows that mIoU is 75.054%, AP_box is 38.1%, AP_mask is 32.4%, PQ:SQ:RQ is 58.7% : 79.6% : 72.4%. But the result reported in the papr is 75.2%, 39.1%,  33.3%, 59.3% : 79

[2019-05-05 02:37] YuwenXiong commented on #29
We noticed that on Cityscapes the result will have ~0.5 point varaiance and our results are obtained in 16 GPU setting so there might be some difference. On COCO the result is more stable. We will release the pretrained model weights that can reproduce the result reported in our paper.

[2019-05-05 05:05] koncle commented on #29
Thank you for your reply!

[2019-05-05 05:05] #29 closed

[2019-05-08 04:51] reedwiththoughts opened #30 "Extension horovod.torch has not been built."
Hello, After I run :
python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/upsnet_resnet50_coco.yaml

I encountered that:
ImportError: Extension horovod.torch has not been built.  If this is not expected, reinstall Horovod with HOROVOD_WITH_PYTORCH=1 to debug the build error.

How should I do? Thanks for answering.

Traceback (most recent call last):
  File "/home/anaconda3/envs/pytorch1.

[2019-05-09 05:46] LaoYang1994 opened #31 "Bug"
https://github.com/uber-research/UPSNet/blob/9191a59de894ae95831b622c7d20102db5c93b6f/upsnet/models/resnet_upsnet.py#L287
        cls_idx = roidb['gt_classes']

Line 287 should be: cls_idx = roidb['gt_classes'][gt_inds]

[2019-05-09 15:48] YuwenXiong commented on #30
If you don't know how to run horovod properly, please use the 4gpu config file. And you can ask horovod-related issue at here: https://github.com/horovod/horovod

[2019-05-09 16:02] YuwenXiong commented on #31
Thanks for pointing it out, this bug will be triggered when `panoptic_box_keep_fraction = 1`, now it has been fixed.

[2019-05-09 16:02] #31 closed

[2019-05-09 17:00] LaoYang1994 opened #32 "A question about panoptic gt"
https://github.com/uber-research/UPSNet/blob/2ced987576a98dc16c5a580839b657948644d44d/upsnet/operators/modules/mask_matching.py#L52
In this line, you just use "gt_masks[[i], :, :] != 0" to judge whether a pixel belongs to the instance. But the picture is padded using 255. I think there should be another rule: "& gt_masks[[i], :, :] != 255". Do you think what I pointed is right?

Another question i

[2019-05-09 17:07] YuwenXiong commented on #32
We generate gt_masks here: https://github.com/uber-research/UPSNet/blob/2ced987576a98dc16c5a580839b657948644d44d/upsnet/dataset/cityscapes.py#L179 and here: https://github.com/uber-research/UPSNet/blob/2ced987576a98dc16c5a580839b657948644d44d/upsnet/dataset/coco.py#L160 . It will only contain 0 and 1.

For your second question, a basic assumption is that there is no overlapping between each instan

[2019-05-09 17:17] LaoYang1994 commented on #32
@YuwenXiong I test your code. There indeed exists the two problem.
https://github.com/uber-research/UPSNet/blob/2ced987576a98dc16c5a580839b657948644d44d/upsnet/dataset/base_dataset.py#L941
In this place, the small pictures will be padded 255.

For the second question, you can check the picture of id 69816.

[2019-05-09 18:00] YuwenXiong commented on #32
Thanks for pointing it out, I confirm that these two issues exist.
The first one will generate wrong panoptic gt when image shape cannot be divided by 32 (which does happen in coco) and will give slightly wrong supervision for panoptic loss. I'll fix it now.
The second one is a little bit tricky, it comes from the bad instance annotation quality of coco. A potential solution is recalculating insta

[2019-05-10 05:37] LaoYang1994 opened #33 "Bug"
https://github.com/uber-research/UPSNet/blob/96b7b5172b7b76446f637f4922b7a2054e46703b/upsnet/models/resnet_upsnet.py#L285

I think it should be
        gt_inds = np.where((roidb['gt_classes'] > 0) & (roidb['is_crowd'] == 0))[0]

But when I modify it like this, another problem occured. I think it's due to the instance that is crowd.

I think in this place, the crowd instance should be added to cons

[2019-05-10 09:06] reedwiththoughts commented on #30
OK, Thank you, YuwenXiong.

[2019-05-10 14:14] JoyHuYY1412 opened #34 "Is the bounding box regression loss different from Mask RCNN?"
https://github.com/uber-research/UPSNet/blob/96b7b5172b7b76446f637f4922b7a2054e46703b/upsnet/models/rcnn.py#L179
You code here just use the coordinates to calculate loss, but original bounding box regression in MaskRCNN uses ground truth like this: tx=(Gx−Px)/Pw, ty=(Gy−Py)/Ph, tw=log(Gw/Pw), th=log(Gh/Ph).

Does it matter?

[2019-05-10 14:19] YuwenXiong commented on #34
This is regular smooth l1, we calculate regression target here: https://github.com/uber-research/UPSNet/blob/4da1b65bbd79212ec78f29f359063eb93a8f4ab6/upsnet/bbox/bbox_transform.py#L114

[2019-05-10 14:19] #34 closed

[2019-05-10 15:06] JoyHuYY1412 commented on #34
Sorry, but I cannot find in your code where you use this function. Could you point out?

[2019-05-10 15:10] JoyHuYY1412 commented on #34
Oh maybe it is this function,
https://github.com/uber-research/UPSNet/blob/4da1b65bbd79212ec78f29f359063eb93a8f4ab6/upsnet/bbox/bbox_transform.py#L290

[2019-05-10 16:52] YuwenXiong commented on #33
Yes you are right, there is a bug here. I think the crowd instance should be filtered and ignore in training. The problem you encountered is because I include crowd annotation in other places. I'm launching a new exp to see whether we should fix it.

[2019-05-11 11:53] JoyHuYY1412 commented on #34
Do you mean this one?
https://github.com/uber-research/UPSNet/blob/4da1b65bbd79212ec78f29f359063eb93a8f4ab6/upsnet/bbox/bbox_transform.py#L332

[2019-05-12 07:00] insop opened #36 "RuntimeWarning: invalid value encountered in sqrt"
Hi,

I have ran to this error while I was running (`upsnet_resnet50_coco_1gpu.yaml` is just a number of gpu change based on `4gpu.yaml`

[code]

- running env:  pytorch 1.0
- version: `96b7b5172b7b76446f637f4922b7a2054e46703b` and this PR change (https://github.com/uber-research/UPSNet/pull/35)

[code]

[2019-05-12 07:31] insop commented on #36
Maybe this is the main cause instead of runtime warning from `sqrt`
[code]

[2019-05-12 08:26] JoyHuYY1412 opened #37 "RuntimeWarning: invalid value encountered i$ greater_equal"
Has anyone encounter this error when running with one GPU?

The whole message is:

[2019-05-12 11:33] JoyHuYY1412 commented on #36
I also met this question. But it wouldn't happen when I use multi-gpu.

[2019-05-12 12:06] YuwenXiong commented on #36
When you change # gpu from 4 to 1 you also need to reduce lr by 4x and increase # iter by 4x.

[2019-05-12 12:07] YuwenXiong commented on #37
The same as https://github.com/uber-research/UPSNet/issues/36#issuecomment-491589783, otherwise it will cause training failure.

[2019-05-12 12:24] JoyHuYY1412 commented on #37
Thanks!

[2019-05-12 12:24] #37 closed

[2019-05-12 12:42] insop commented on #36
With the below change, I was able to run after my post.

And you confirmed it, thank you for the quick update.

[code]

[2019-05-12 12:42] #36 closed

[2019-05-12 12:47] YuwenXiong commented on #36
changing #iter/lr by 2x may not match the result I reported as you changed batch size from 4 to 1, and they (batch size/lr/#iter) should be matched.

[2019-05-12 12:59] insop commented on #36
Right, thank you and updated with by 4

[code]

[2019-05-13 06:36] JoyHuYY1412 opened #38 "How to track the change of learning rate?"
Sorry but I am a little bit confused by the learning rate.
https://github.com/uber-research/UPSNet/blob/96b7b5172b7b76446f637f4922b7a2054e46703b/upsnet/upsnet_end2end_train.py#L119

https://github.com/uber-research/UPSNet/blob/96b7b5172b7b76446f637f4922b7a2054e46703b/upsnet/upsnet_end2end_train.py#L200

What is the relation of these two learning rates? And how can I get the real leaning rate? Sinc

[2019-05-13 06:45] #38 closed

[2019-05-14 08:14] gh2517956473 opened #39 "one GPU"
Can I use one GPU with 12G memory to train? Where does the code need to change?
Thank you very much！

[2019-05-14 08:19] LaoYang1994 opened #40 "Is deformable conv used in"

[2019-05-14 08:25] LaoYang1994 opened #41 "The resnet101 performance"
We try to get the performance  using resnet101 in your paper. But the final performance  is too low.

I wonder is there any problems in our settings?
Do you make sure the code can get the pq about 46？

[2019-05-14 13:18] JoyHuYY1412 opened #42 "About your coco id and labels"
I noticed that you make the categories sorted as `0-52:stuff,53-132:things` in creating `panoptic_coco_categories_stff.json`. Why you do this change?

So when you print out the result matrix like this format:

Does the` IDX 0` mean the result for the first thing class or the first stuff class?
Similarly, how about other metrics like `the Mean and per-category AP`? The first line represent the firs

[2019-05-14 19:10] YuwenXiong commented on #41
ResNet101 results use deformconv for res3-5

[2019-05-14 19:12] YuwenXiong commented on #40
deformconv is used in semantic head only in our provided setting, if you want use it in backbone you could set config.network.backbone_with_dconv to 3, 4, or 5

[2019-05-14 19:15] YuwenXiong commented on #42
We change class order in order to make it consistent with cityscapes (stuff first, then things).
And all results follow the setting (so IDX 0 means the first stuff class).
AP is only for things so the first line is for the first thing class.
If you want to submit test-dev result you need to do some change on prediction.

[2019-05-14 19:15] #42 closed

[2019-05-14 19:56] YuwenXiong commented on #39
please follow this https://github.com/uber-research/UPSNet/issues/36#issuecomment-491593609

[2019-05-14 21:36] YuwenXiong commented on #33
My recent results show that there is no performance influence w.r.t this issue. It has been fixed now.

[2019-05-14 21:36] #33 closed

[2019-05-15 01:11] gh2517956473 commented on #39
Thank you！

[2019-05-15 07:49] gh2517956473 opened #43 "A error about logging"
upsnet/../upsnet/config/config.py:180: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  exp_config = edict(yaml.load(f))
Traceback (most recent call last):
  File "upsnet/upsnet_end2end_train.py", line 52, in <module>
    logger, final_output_path = create_logger(config.output_path, a

[2019-05-15 08:08] gh2517956473 commented on #43
When I run python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/$EXP.yaml，this problem has arisen. My Python version is 3.6. Can you help debug？
Thank you very much！

[2019-05-15 09:04] #43 closed

[2019-05-16 12:44] JoyHuYY1412 opened #44 "Why your bounding box regression loss is so small?"
I found that the bounding box regression loss at first of your code is really small, like of ~0.1 scale. Could you give me some explanation?

[2019-05-16 19:06] YuwenXiong commented on #44
`bbox_loss` is only for fg rois, and at the beginning when RPN is not well trained there are not many fg rois.

[2019-05-16 19:06] #44 closed

[2019-05-17 06:23] JoyHuYY1412 commented on #44
So do you mean the loss is calculated among the fg rois but averaged between all the fg and bg rois?

[2019-05-17 06:46] scut-salmon opened #45 "THCudaCheck FAIL file=/pytorch/aten/src/THC/THCGeneral.cpp line=405 error=11 : invalid argument"
Hi, but got this notification when running the command
python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/upsnet_resnet50_cityscapes_4gpu.yaml
 But the model can still run normally, will this be a problem or may affect the final results?
Thanks

[2019-05-17 08:38] JoyHuYY1412 opened #46 "Is it OK if I use GCC 4.8.5?"

[2019-05-17 22:17] YuwenXiong commented on #46
No please use gcc 4.9+ since pytorch requires it to build custom operators

[2019-05-17 22:17] #46 closed

[2019-05-17 22:49] YuwenXiong commented on #44
@JoyHuYY1412 yes, see here: https://github.com/uber-research/UPSNet/blob/master/upsnet/models/rcnn.py#L187

[2019-05-21 08:12] scut-salmon opened #47 "what‘’s the performance compared with Mask RCNN on object detection?"
Hi, I find that UPSNet mainly add an semantic segmentation head to mask RCNN, I wonder what's the performance of UPSNet on object detection(or instance segmentation). Can I use it to improve my object detection MAP? Sorry but I didn't find this discuss in your paper.

I would be appreciated if you could give me some advice, thanks.

[2019-05-23 12:08] ZHANGDONG-NJUST opened #48 "No module named BatchNorm2d in "upsnet.operators.modules.distbatchnorm" ?"
Have not see any module named BatchNorm2d in upsnet.operators.modules.distbatchnorm.

[2019-05-24 00:57] Jimjipeng opened #49 "ImportError: cannot import name accumulate"
[Python 2.7 / PyTorch 1.0]
sh init,sh
error: ImportError: cannot import name accumulate

[2019-05-24 07:20] scut-salmon opened #50 "OSError: cannot identify image file './data/coco/annotations/panoptic_train2017_semantic_trainid_stff/000000564031.png'"
Hi, I get this problem when running the coco dataset? Why did I get this problem, I use the two annotations download from http://cocodataset.org/#download
2017 Panoptic Train/Val annotations [821MB]
2017 Train/Val annotations [241MB]

It seems that the image exists in tran2017 folder, but do not exists in panoptic_train2017_semantic_trainid_stff folder.

How can I fix this problem? Thanks.

[2019-05-24 07:47] #50 closed

[2019-05-27 05:16] JoyHuYY1412 opened #51 "Is your mask_loss the same as MaskRCNN"
https://github.com/uber-research/UPSNet/blob/ba524d5535e47ea42216dc299fa3effad4e3e661/upsnet/models/rcnn.py#L173
Sorry but I don't understand why you design your loss as this. Why the mask score doesn't need go through sigmoid function?

[2019-05-27 05:48] #51 closed

[2019-05-27 14:44] JoyHuYY1412 opened #52 "binary_op(): expected both inputs to be on same device"
Hi, sorry to interrupt you. I use your code which with 4 gpus, but I use the 4,5,6,7 gpu on my machine. However, when I try to resume my model, there is an error says:

[code]
Can you tell me what to do? I really appreciate your help.

[2019-05-30 05:49] JoyHuYY1412 opened #53 "About label['roidb']['segmes']"
HI, for coco dataset, when I print label['roidb']['segmes'] in resnet_upsnet.py, I found sometimes the last segmentation is not polygon format, which is of list format, but they look like RLE format, for example, a dict {"counts': ,'size':}.
 What's more, the counts part is not binary string but polygon list, which is really confusing.

I have no idea why this could happen, could you please help m

[2019-05-30 05:50] JoyHuYY1412 commented on #41
Hi, Laoyang, could you please help me with my issue? I don;t know does it will influence the data we use?
https://github.com/uber-research/UPSNet/issues/53#issue-450141801

[2019-05-30 06:02] JoyHuYY1412 commented on #53
I give some example:

[2019-05-30 12:23] LaoYang1994 commented on #53
@JoyHuYY1412 Hi, I met this problem when using this code. That's because the "crowd instances" are included. You can refer to #33 .

Please let me know if you have any problem.

[2019-05-31 08:28] reedwiththoughts opened #54 "driversion"

[2019-05-31 08:29] #54 closed

[2019-06-01 07:25] LouieYang opened #55 "FCN head classes doesn't include background in COCO"
I noticed that for fcn head, the number of class logits is 133 for COCO and doesn't include background (I mean black area in annotation image). I am wondering if you have marked the bg in annotation images to 255 so that it is ignored in CE loss or is there anything I missed.

Many thanks

[2019-06-04 20:33] YuwenXiong commented on #55
background is set to 255 and is ignored.

[2019-06-04 20:33] #55 closed

[2019-06-04 20:35] YuwenXiong commented on #52
If you use 4,5,6,7 GPU, the best way is to set CUDA_VISIBLE_DEVICES=4,5,6,7 and keep using 0,1,2,3 in the config files

[2019-06-04 20:35] #52 closed

[2019-06-04 20:37] YuwenXiong commented on #48
Please make sure you pull the latest code and use_syncbn is set to false in the config file that you use.

[2019-06-04 20:41] YuwenXiong commented on #49
This codebase needs slightly modification to work under python 2.7, if you don't know how to do that please simply use python 3.6/3.7

[2019-06-06 08:23] andyhahaha commented on #36
Hi I encounter a similar error.
I change the backbone to PeleeNet and train with 4 gpu.
But feat_id will have some elements are nan.
https://github.com/uber-research/UPSNet/blob/3218581a623b02a73c3334b672fc1ce0c25fdae9/upsnet/operators/modules/fpn_roi_align.py#L38
It is because the propose rois has x1>x2 or y1>y2 which cause the w<0 or h<0.
 np.log2(negative number ) cause nan.

I have tried small

[2019-06-06 11:19] lfdeep opened #56 "test my images error"

[2019-06-09 05:07] ZHANGDONG-NJUST commented on #48
Thanks, I will have a try.

[2019-06-10 02:25] andyhahaha opened #57 "rois output cause feat_id has nan element"
I change the backbone to PeleeNet and train with 4 gpu.
But feat_id will have some elements are nan and cause the pooled feature lost some feature and dimension mismatch to label when calculate loss function.

https://github.com/uber-research/UPSNet/blob/3218581a623b02a73c3334b672fc1ce0c25fdae9/upsnet/operators/modules/fpn_roi_align.py#L38

It is because the propose rois has x1>x2 or y1>y2 which c

[2019-06-10 07:02] lfdeep opened #58 "AttributeError: 'EasyDict' object has no attribute 'max_size'"
Hello,I use python3.7，pytorch0.4.1.post2, cuda9.0，but it occured:
AttributeError: 'EasyDict' object has no attribute 'max_size'，
I don't know how to solve it.

[2019-06-10 13:08] lfdeep commented on #46
Hello，Have you run successfully?

[2019-06-10 13:40] lfdeep commented on #39
Hello,i use one gpu,but it occured:
ERROR: Unexpected bus error encountered in worker. This might be caused by insufficient shared memory (shm).
ERROR: Unexpected bus error encountered in worker. This might be caused by insufficient shared memory (shm).
ERROR: Unexpected bus error encountered in worker. This might be caused by insufficient shared memory (shm).
ERROR: Unexpected bus error encounter

[2019-06-11 06:45] lfdeep opened #59 "Segmentation fault error"
Hello!When i run train.py  in coco datasets, and i only have one gpu ,it occured:

-> fcn_output = self.fcn_head(*[fpn_p2, fpn_p3, fpn_p4, fpn_p5, fcn_rois])
(Pdb) n
Segmentation fault

Is the code wrong?

[2019-06-11 08:38] lfdeep commented on #39
Hello,Can you run the code successfully on a gpu?

[2019-06-11 09:43] JoyHuYY1412 commented on #46
No, I updated my GCC.

[2019-06-11 10:03] JoyHuYY1412 commented on #53
Yes, after I edited my files as https://github.com/uber-research/UPSNet/commit/ba524d5535e47ea42216dc299fa3effad4e3e661 did, but unfortunately the performance of panoptic head decreased, for example, the panoptic loss becomes larger and accuracy becomes smaller. Have you encountered this problem?

[2019-06-11 11:37] LaoYang1994 commented on #53
@JoyHuYY1412 I am sorry that I can't remember exactly. But I remember that the performance seems to be worse.
The pan_loss's becoming larger is normal. Because when you drop the crowd instance, the gt of this region will be wrong, which may affect the loss.

Please let me know if you have any problem.

[2019-06-11 11:43] JoyHuYY1412 commented on #53
Yes, I believe when I drop the crowd instance, the gt of the crowd part will also be "unknown", but it also makes sense when we calculate loss, right? So I was confused when the accuracy drops so much.

[2019-06-11 13:08] LaoYang1994 commented on #53
@JoyHuYY1412
Oh, you are right. I was wrong.  It's hard to say. It seems that we need the author's help. @YuwenXiong

[2019-06-12 02:07] lfdeep commented on #6
Hello，Your cuda is 9.1, then what version of gcc can run the network？

[2019-06-12 05:03] WenFuLee commented on #6
My version is GCC 7.3.0.

[2019-06-12 12:24] JoyHuYY1412 commented on #53
Thank you for your reply, but I still don't quiet understand why there will exist these kind of format in lable['roidb']['segms']. Especially the first one, it is not RLE or Polygen, moreover, the code here https://github.com/uber-research/UPSNet/blob/3218581a623b02a73c3334b672fc1ce0c25fdae9/upsnet/dataset/json_dataset.py#L173-L179 also filtered some data, right?

[2019-06-12 22:47] liand23 opened #60 "ModuleNotFoundError: No module named 'lib.utils.colormap'"
When I run testing and set the vis_mask to be True, the base_dataset.py line 841
```from lib.utils.colormap import colormap```
is calling for colormap, which is not found. Is it something is missing in the util folder?

[2019-06-14 06:02] lfdeep commented on #60
I meet the same problems!

[2019-06-14 12:35] gaussiangit commented on #6
ImportError: upsnet/../upsnet/operators/_ext/deform_conv/deform_conv_cuda.cpython-36m-x86_64-linux-gnu.so: undefined symbol: _ZN3c105ErrorC1ENS_14SourceLocationERKSs

Also -D_GLIBCXX_USE_CXX11_ABI=0  is there while compilation.

Torch version 1.0.1
GCC 7.3.0
CUDA 9.0

What could be the problem ?

[2019-06-15 04:10] reedwiththoughts opened #62 "TypeError: __init__() got an unexpected keyword argument 'log_dir'"
Hello, after I run

python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/upsnet_resnet50_coco_4gpu.yaml

I got

upsnet/../upsnet/config/config.py:180: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  exp_config = edict(yaml.load(f))
Traceback (most recent call last):
  File

[2019-06-15 09:44] reedwiththoughts commented on #62
When I delete  "logdir=" in line 56 of File "upsnet/upsnet_end2end_train.py", it disappears.

[2019-06-15 14:51] qq237942920 commented on #55
@YuwenXiong @LouieYang I found that the folder `panoptic_train2017_semantic_trainid_stff` set background (in coco gt) to 0 instead of 255, or is there anything I missed?

[2019-06-21 08:20] EchoAmor commented on #56
@lfdeep have u solved this problem? I want to test my own pictures too .

[2019-06-21 08:27] lfdeep commented on #56
I write inference.py according to author's test code. But when  visualize, the author code is a bit wrong, and now I am debugging the code in the visualization section.

[2019-06-21 08:38] EchoAmor commented on #56
will u upload your code when you solve this problem ? I am not so good at coding now, I would very
 appreciate it if u can share ! Thanks very much ! @lfdeep

[2019-06-21 08:47] lfdeep commented on #56
Yes,Can you give me your contact information?

[2019-06-21 08:49] EchoAmor commented on #56
@lfdeep yeah  my email is echocw@mail.sim.ac.cn, thanks very much!

[2019-06-22 09:07] YuwenXiong commented on #60
the `colormap.py` file is added

[2019-06-22 09:07] #60 closed

[2019-06-24 06:29] Jacob-Jiah commented on #62
you can just try tensorboardX==1.6

[2019-06-24 06:44] Jacob-Jiah opened #63 "The Model seems not training for a long while"
Python3.7 Pytorch1.1 Cuda9.0:
I am trying to reproduce the training process of the Cityscapes dataset. When I start training process, I receive a lot of warnings:
`upsnet/../upsnet/models/resnet.py:285: UserWarning: unexpected key "fc.weight" in state_dict
  warnings.warn('unexpected key "{}" in state_dict'.format(name))
upsnet/../upsnet/models/resnet.py:285: UserWarning: unexpected key "fc.bias"

[2019-06-24 09:14] Jacob-Jiah commented on #63
When there is only one GPU, the code works perfect, but when the number of GPU>1, it will definitely get stuck. I have no clue why that happens, because other codes work well with multi-GPU process on my server.

[2019-06-24 19:13] kevinj22 commented on #47
Running the eval code given with the trained weights for the 101 resnet:

BBOX:

2019-06-24 15:10:53,159 | base_dataset.py | line 718: ~~~~ Summary metrics ~~~~
 Average Precision  (AP) @[ IoU=0.50:0.95 | area=   all | maxDets=100 ] = 0.443
 Average Precision  (AP) @[ IoU=0.50      | area=   all | maxDets=100 ] = 0.658
 Average Precision  (AP) @[ IoU=0.75      | area=   all | maxDets=100 ] = 0.482

[2019-06-25 01:32] Jacob-Jiah commented on #63
The problem may appear in line 284 `loss.backward()`. As soon as I process this line, all gpus will directly go to 100% and get stuck.

[2019-06-26 04:04] AugustYuan opened #64 "Help: about the dataset(from a rookie)"
I find that the paths 'lib/dataset_devkit/panopticapi/panoptic_coco_categories.json' and 'data/coco/annotations/panoptic_coco_categories_stff.json' are used in init_coco.py, but the folder 'lib/dataset_devkit' is empty. And I can't the two files in coco panoptic annotation folder. So where should I get the two files. If anybody knows, please give me a hand. Thanks a lot.

[2019-06-26 04:07] AugustYuan commented on #64
Oh, Im sorry, I get it.

[2019-06-26 04:09] #64 closed

[2019-06-26 08:19] lfdeep opened #65 "vis panoptic image error!"
Hello,When I visualized the coco dataset, I found a panoptic result:
![000000095707](https://user-images.githubusercontent.com/37822522/60163291-e128ab80-982d-11e9-9020-6b96e7910446.png)

There seems to be a box in the image, I don’t know why.

[2019-06-26 21:45] liand23 commented on #62
I think 'log_dir' is used in the old versions of tensorboardX. Switching that with 'logdir' works for me.

[2019-06-28 07:39] SwayKing commented on #64
Could you please share your solution? I cannot find the file 'data/coco/annotations/panoptic_coco_categories_stff.json'

[2019-07-01 07:15] dipanjan06 commented on #56
@lfdeep , I am also trying to test but on my image. It would be helpful if you share your inference code at dipanjan06@gmail.com

[2019-07-01 10:04] lfdeep commented on #56
hello，I will sort out the inference and visualization code and send it to you.

[2019-07-02 02:35] lfdeep commented on #59
I have solved this problem and you can:
Breakpoint debugging, check if the error is in deform conv. If yes, it is because the environment is not configured, check whether the environment is compiled #6 .
it is recommended that you use gcc>4.9.

[2019-07-02 07:53] AugustYuan commented on #59
My gcc version is 7.2.0, and I find the error as follows, so how to deal with it?

/home/kunyuan/anaconda3/lib/python3.6/site-packages/torch/nn/modules/module.py(477)__call__()
-> result = self.forward(*input, **kwargs)
(Pdb) n
/home/kunyuan/anaconda3/lib/python3.6/site-packages/torch/nn/functional.py:1006: UserWarning: nn.functional.sigmoid is deprecated. Use torch.sigmoid instead.
  warnings.war

[2019-07-02 08:04] AugustYuan opened #66 "Help: segmentation fault"
When the program runs to "output=train_model(*batch)" in upsnet_end2end_train.py file, i will print "segmentation fault" with no other error imformation. I have checked my gcc version and pytorch version are 7.2.0 and 0.4.1, is there any solution? Thanks a lot!

[2019-07-02 08:26] AugustYuan commented on #59
My gcc version is 7.2.0, and I find when the program runs to "output=train_model(*batch)" it will print error as follows, so how to deal with it?

/home/kunyuan/anaconda3/lib/python3.6/site-packages/torch/nn/modules/module.py(477)call()
-> result = self.forward(*input, **kwargs)
(Pdb) n
/home/kunyuan/anaconda3/lib/python3.6/site-packages/torch/nn/functional.py:1006: UserWarning: nn.functional.sigm

[2019-07-02 09:18] lfdeep commented on #59
cd upsnet/operators/_ext/deform_conv and run python
import torch and import deform_conv_cuda manually, it should be no problem if your environment setup is correct.

[2019-07-03 03:08] AugustYuan commented on #59
I imported deform_conv_cuda successfully, but there still "segmentation fault" error.

[2019-07-03 03:18] lfdeep opened #67 "Help, how to set batch to 2 or more on one GPU!"
i want to set train batch to 2 or more on one gpu, i don't know how to change code!

[2019-07-05 04:19] shwoo93 opened #68 "There is problem in loading annotations into memory"
Hello,

I have a problem with loading the annotations.
When I run the training code, the script starts with loading the annotations into memory, but it soon turns out to be killed abruptly.

Any suggestions?

[2019-07-06 10:49] gaussiangit opened #69 "Reproducing results"
I trained coco for more than 160000 iterations, still get PQ around 35 with given config. Training for longer does help a bit but I see that your pretrained weights achieved results with 98000 iterations.
Do you know what could be wrong ?

[2019-07-06 20:56] gaussiangit opened #70 "Value error when evaluating on smaller set"
I have smaller test image set, when I try to evaluate on smaller set. I have some nan values and it throws value error under unified section.

Following log:

2019-07-06 20:50:18,300 | base_dataset.py | line 715: nan
2019-07-06 20:50:18,300 | base_dataset.py | line 715: nan
2019-07-06 20:50:18,300 | base_dataset.py | line 715: nan
2019-07-06 20:50:18,301 | base_dataset.py | line 715: nan
2019-07-0

[2019-07-06 20:59] YuwenXiong commented on #69
If you only use 4 gpus (i.e batch size =4) the expected #iter is 360k or longer, the 90k one is trained with 16gpus

[2019-07-06 21:12] YuwenXiong commented on #63
Please make sure you are not using horovod if you haven’t setup it correctly

[2019-07-06 22:37] gaussiangit commented on #69
Got it. Thank you :)

[2019-07-06 22:37] #69 closed

[2019-07-07 13:17] gaussiangit commented on #70
So my initial thought is that for the smaller set (smaller val2017) that I am evaluating, I should have panoptic gt as well if I am using evaluation script which computes PQ. Is there a quick way in your codebase to generate panoptic results on given test image without computing PQ ?

[2019-07-08 14:35] gaussiangit commented on #56
@lfdeep Hey man can you share link to your inference code, I am trying one myself facing some difficulties.

[2019-07-10 06:58] SwayKing commented on #56
@lfdeep , I met with the same problem here. Could you please share your inference and visualization code? It would be really appreciated. My email is [fishswayking@gmail.com](fishswayking@gmail.com). Thank you in advance.

[2019-07-10 09:14] lfdeep commented on #56
Can you give me your email?

[2019-07-10 09:14] lfdeep commented on #56
Can you give me your email?

[2019-07-10 11:15] gaussiangit commented on #56
@lfdeep  iamgaussian@hotmail.com

[2019-07-10 15:45] mumuyanyan commented on #56
@lfdeep muyanshuimuyanshui@163.com Thank you very much

[2019-07-10 17:10] benkmoore opened #71 "Undefined symbol Error"
Hi

I'm trying to test the model and then use it for inference. I'm recieveing this error. I've tried mutliple version fo python with no success - pytohn 2.7, 3.5, 3.6 and 3.7

Ubuntu 16.04
Python 3.6
Cuda 10.1

`python3.6 upsnet/upsnet_end2end_test.py --cfg upsnet/experiments/upsnet_resnet101_cityscapes_w_coco_16gpu.yaml --weight_path ./model/upsnet_resnet_101_cityscapes_w_coco_3000.pth
3.6.9 (de

[2019-07-10 18:17] adkang1 commented on #56
@lfdeep Can you send me the inference code as well? I've been trying to convert it myself with no success due to the config files. My email is andrea.d.kang@gmail.com

[2019-07-11 10:06] gaussiangit commented on #71
Try by downgrading Cuda to 9.1

[2019-07-11 15:13] gaussiangit opened #72 "Inference time"
As mentioned in the paper inference time on single image of COCO dataset is 171 ms.
Does that mean you get around 5.8 FPS for any image ?
When I ran your evaluation script on 4 GPU strictly on coco val2017, net_time is different every time I run the script. Sometimes it takes more than mins for particular batches.
Can you share your thoughts on this ? @YuwenXiong

[2019-07-11 15:20] YuwenXiong commented on #72
We found the time is not accurate with #GPU > 1 or #worker of dataloader > 0.

So please try again with the settings above.

Also please check whether your environment/hardware is setup correctly. Minutes for a image is absolutely abnormal.

[2019-07-11 15:31] YuwenXiong commented on #71
Please try to rebuild all cython modules manually and make sure the python version matches the version you wish to run inference (i.e., use `python3.6 setup.py build_ext --inplace`)

[2019-07-11 15:35] YuwenXiong commented on #67
Unfortunately this codebase doesn't support multiple images on one gpu. You can try to run multiple horovod workers on one gpu to mimic it, then one gpu will effectively take multiple images at the same time.

[2019-07-11 22:01] YuwenXiong commented on #55
@qq237942920 @LouieYang I just found that the code I provided had a problem, it would set background to 0 instead of 255. Now it has been fixed, please pull the latest code and rerun `bash init_coco.sh` to regenerate correct coco panoptic gt

[2019-07-12 15:42] #72 closed

[2019-07-12 15:44] #70 closed

[2019-07-14 06:52] PkuRainBow commented on #2
@YuwenXiong Could you provide the script to re-build the deform* operator ?

We can not find the scripts to rebuild by ourselves.

[2019-07-14 16:55] phongnhhn92 commented on #56
@lfdeep phongnhhn92@gmail.com Can you please send me the inference code as well ? Thanks a lot.

[2019-07-14 19:31] manueldiduch commented on #56
Hi @lfdeep, Could you send me your inference code, please? Thank you so much. manuel.diduchi@gmail.com

[2019-07-15 07:00] phongnhhn92 commented on #17
@WenFuLee hi ! can you share the base_dataset.py that you have modified to run test on a single GPU ?

[2019-07-15 07:37] PkuRainBow commented on #2
@qq237942920 Have solved this problem and could you share with me the building script?

[2019-07-15 11:53] gaussiangit commented on #56
@lfdeep any update ? thanks

[2019-07-16 02:52] lfdeep commented on #67
Thanks! I only have one GPU 24G, Training is very slow, training only 200,000 times a week, iterating 1.44 million times takes 5 weeks! Do you have any suggestion?

[2019-07-16 03:53] lfdeep commented on #72
@gaussiangit  Excuse me, how long it takes you to train a model. What is the number of GPUs?

[2019-07-16 04:26] PkuRainBow commented on #2
@qq237942920 @YuwenXiong Could you push the scripts to rebuild the deformable convolution operator?  Thanks a lot.

[2019-07-16 11:25] ShreyPaharia opened #73 "Regarding Category Id assignment in init_coco.py"
While assignment of categories, you start with 0 and then assign these the category ids to the instances to create semantic data. Penoptic images contain 0 pixel values to signify unknown pixel. Thus in semantic data there is category id 0 in every image which corresponds to banner.Could someone tell me where and how is this being handled?

[2019-07-16 18:28] YuwenXiong commented on #73
Similar issue has been raised in https://github.com/uber-research/UPSNet/issues/55, and it has been fixed in the latest code, see https://github.com/uber-research/UPSNet/blob/master/init_coco.sh#L3. We will change unknown from 0 to 255 during semantic segmentation ground truth generation.

[2019-07-17 02:00] lfydegithub opened #74 "how to infer one image？"
how to infer one image？ Still need 4 or 8 GPU？I just wanna infer.

[2019-07-17 02:51] 6216 commented on #56
@lfdeep hi，I met the same problem, could you share the code with me, please? Thanks very much ！jiaqiwang_jq@163.com

[2019-07-17 03:03] dingguo1996 commented on #2
@PkuRainBow I just commented the warning code and rebuild it again.

[2019-07-17 03:08] PkuRainBow commented on #2
@qq237942920 Could share with me the script that you use to rebuild ? Thanks~

[2019-07-17 03:11] dingguo1996 commented on #2
@PkuRainBow Could you add my qq or wechat that is shown on my username if you can.

[2019-07-17 06:30] 6216 opened #75 "How to test my own images？"
How to test my own images and see the panoptic segmentation results ?

[2019-07-18 08:58] #73 closed, assigned to nobody

[2019-07-19 01:38] AI-liu commented on #75
import os
import torch
import torch.nn as nn
import argparse
import cv2
import numpy as np

from upsnet.config.config import *
from upsnet.config.parse_args import parse_args

from upsnet.models import *

from PIL import Image, ImageDraw

def get_pallete():

    pallete_raw = np.zeros((256, 3)).astype('uint8')
    pallete = np.zeros((256, 3)).astype('uint8')

    pallete_raw[5, :] =  [111,  74,

[2019-07-19 01:38] AI-liu commented on #74
import os
import torch
import torch.nn as nn
import argparse
import cv2
import numpy as np

from upsnet.config.config import *
from upsnet.config.parse_args import parse_args

from upsnet.models import *

from PIL import Image, ImageDraw

def get_pallete():

    pallete_raw = np.zeros((256, 3)).astype('uint8')
    pallete = np.zeros((256, 3)).astype('uint8')

    pallete_raw[5, :] =  [111,  74,

[2019-07-19 01:38] AI-liu commented on #56
import os
import torch
import torch.nn as nn
import argparse
import cv2
import numpy as np

from upsnet.config.config import *
from upsnet.config.parse_args import parse_args

from upsnet.models import *

from PIL import Image, ImageDraw

def get_pallete():

    pallete_raw = np.zeros((256, 3)).astype('uint8')
    pallete = np.zeros((256, 3)).astype('uint8')

    pallete_raw[5, :] =  [111,  74,

[2019-07-19 02:11] lfdeep commented on #56
this only test cityscaspes model!

[2019-07-19 10:09] AI-liu commented on #56
you can change to your image.
im = cv2.imread("lindau_000000_000019_leftImg8bit.png")

im = cv2.imread("your_imgae_XXXX.png")

------------------ 原始邮件 ------------------
发件人: "lfdeep"<notifications@github.com>;
发送时间: 2019年7月19日(星期五) 上午10:11
收件人: "uber-research/UPSNet"<UPSNet@noreply.github.com>;
抄送: "136758759"<136758759@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [uber-research/UPSNet]

[2019-07-19 10:21] lfdeep commented on #56
thanks! this code only test cityscapes model!   Classes of cityscapes is less than coco. i have soved this problem and can test coco model.

[2019-07-19 10:31] 6216 commented on #56
thanks for your code.Thanks so much.

| |
王佳琪
|
|
邮箱：jiaqiwang_jq@163.com
|

签名由 网易邮箱大师 定制

On 07/19/2019 18:21, lfdeep wrote:

you can change to your image. im = cv2.imread("lindau_000000_000019_leftImg8bit.png") im = cv2.imread("your_imgae_XXXX.png")
…
------------------ 原始邮件 ------------------ 发件人: "lfdeep"notifications@github.com; 发送时间: 2019年7月19日(星期五) 上午10:11 收件人: "uber-research/UPSNet"UPSNet

[2019-07-24 02:32] QuarK30 commented on #66
Have you found solution for this issue?

[2019-07-27 06:57] LaoYang1994 opened #76 "Cityscape label"
https://github.com/uber-research/UPSNet/blob/aa8434e5a721ed217849607815304f68dfd7720a/init_cityscapes.sh#L30

the *TrainId* is the init labels?

[2019-07-27 12:29] #76 closed, assigned to nobody

[2019-07-28 03:18] runzeer opened #77 "deeper backbone?"
Have you ever tried the deeper backbone network, like ResNext or SENet

[2019-08-02 04:24] feedforward opened #78 "upsnet/models/fcn.py has a conv layer definition with parameter in_channels given twice."
Hi, for the deform-conv def in fcn.py, parameter for both number of input channels and number of output channels is same. (in_channels)
Is this choice deliberate? can you please explain why.

Location - Line 52
https://github.com/uber-research/UPSNet/blob/master/upsnet/models/fcn.py

Thanks

[2019-08-02 14:49] YuwenXiong commented on #78
We only use out_channel for the last conv layer in this subnet, so yes it is.

[2019-08-05 00:35] feedforward commented on #78
I see, Thanks.

[2019-08-05 00:35] #78 closed, assigned to nobody

[2019-08-05 03:26] AI-liu opened #79 "SpatialClassNLLCriterion"
/opt/conda/conda-bld/pytorch_1535491974311/work/aten/src/THCUNN/SpatialClassNLLCriterion.cu:99: void cunn_SpatialClassNLLCriterion_updateOutput_kernel(T *, T *, T *, long *, T *, int, int, int, int, int, long) [with T = float, AccumT = float]: block: [4,0,0], thread: [607,0,0] Assertion `t >= 0 && t < n_classes` failed.
THCudaCheck FAIL file=/opt/conda/conda-bld/pytorch_1535491974311/work/aten/src

[2019-08-06 08:05] pkuCactus commented on #39
Thank you for great work. what if i use horovod on a single gpu machine?I tried it and found it fast than not use horovod, do this have any problem?Moreover, how could i run multiple horovod worker to mimic multiple gpu on a single gpu machine, thanks a lot. Expect your reply.

[2019-08-08 06:32] qiuhaining commented on #75
it‘s just the segmentation_result, not panoptic result

[2019-08-08 12:09] dingguo1996 opened #80 "Have you tried to test on coco with multiscale after you trained with multiscale?"
Have you tried to test on coco with multiscale after you trained with multiscale? I found your experiment config which has ms train code but no ms test, which make me confused.

[2019-08-08 19:48] jshi31 commented on #56
@lfdeep , I am also trying to test on my image. It would be helpful if you share your inference code at jingshi0521@gmail.com

[2019-08-10 14:00] yangia opened #81 "can't run on Mapillary vistas dataset"
I tried to train the model on Mapillary vistas dataset. However, after days' effort, I still can't make it.
Here is what I've done:
1. convert the Mapillary `panoptic_2018.json` to `panoptic_2018_stff.json` via `init_coco.py` with some minor changes.
2. generate semantic gt via `panoptic2semantic_segmentation.py` as it is done in `init_coco.sh`
3. generate `instances_2018_stff.json` from `panoptic

[2019-08-12 01:45] yangia commented on #81
solved. a tiny mistake. background was ignored in `num_classes`.

[2019-08-12 01:45] #81 closed, assigned to nobody

[2019-08-14 02:55] dingguo1996 commented on #41
@LaoYang1994 Hi, Laoyang, did you retry to train resnet101 with dcn? Can it achieve the reported result?

[2019-08-25 09:40] shubhaminnani opened #82 "training on my dataset other than coco and cityscapes"
@YuwenXiong I want to load my dataset with annotation and images already in png format how to load and where to load it. Is there any need to change init_coco.py? Thanks in Advance

[2019-08-26 12:52] mumuyanyan commented on #75
yes, the result is semantic segmentation, do you have the panoptic inference?

[2019-08-26 13:01] pkuCactus opened #83 "A little bug in test script"
Hi, when the length of dataset cannot be divided by the batch_size, then the origin code below
https://github.com/uber-research/UPSNet/blob/aa8434e5a721ed217849607815304f68dfd7720a/upsnet/upsnet_end2end_test.py#L236
would cause
    ` cannot pin 'torch.cuda.FloatTensor' only CPU memory can be pinned `
and should change to
    ` data[k] = v.cpu().pin_memory().to(gpu_id, non_blocking=True) if torch.i

[2019-08-27 13:16] weixianghong commented on #36
I also met the same issue. After I change the backbone to ResNeXT-101, RPN will produces negative width or height and causes NaN.
Have you solved it? May you guide me?

[2019-08-27 14:52] betterze opened #84 "meaning of prediction output"
Dear UPSNet Group:

Thank you for sharing this wonderful work. I really appreciate it.

In the prediction, there are fcn_outputs (value from 1 to 132) and panoptic_outputs (value from 1 to 255), could you tell me what is the difference between them? In most of cases, they are almost the same, only a few pixels difference.

And what is the meaning of mask_probs with shape (81,28,28)? It represents

[2019-08-27 18:07] YuwenXiong commented on #36
@andyhahaha @weixianghong  Please notice that we used pretrained weights converted from caffe, which are expecting  different image preprocessing comparing to torchvision model. Please set `use_caffe_model` to false if you wanna use models with torchvision-style preprocessing

[2019-08-28 04:35] weixianghong commented on #36
It works, thank you!

[2019-09-03 07:09] pkuCactus opened #85 "IndexError: Out of bounds on buffer access (axis 0)"
Hi,
Has any one encounter the problem that `IndexError: Out of bounds on buffer access (axis 0)`?
I'm using the Horovod with 16 GPUs for training and after 840 training iters, the training procedure failed. The logs are attached below,

   bbox_loss=0.229750,	mask_loss=0.375499,	fcn_loss=0.201432,	panoptic_accuracy=0.931710,	panoptic_loss=0.195533,
INFO:root:Batch [840]	Speed: 19.59 samples/sec	Tr

[2019-09-03 08:44] pkuCactus commented on #85
I run it again and failed in the same 840 iterations

[2019-09-05 03:01] #85 closed, assigned to nobody

[2019-09-10 10:09] ChengJianjia commented on #63
Have you solved this problem? I have the same problem

[2019-09-11 07:46] ChengJianjia commented on #17
can you share how to remove all multi-thread code?

[2019-09-11 12:55] ChengJianjia opened #86 "How to train with only one GPU with resnet101(COCO)?"

[2019-09-27 03:29] liushuchun opened #87 "What is the acronym "ch" stand for?"
Hi, thanks for your great work. I have try to learn your code, but feel confused about the post processing part,
[code]
what is the "ch" in "pan_2ch_all"  represents for?

[2019-09-27 07:19] #87 closed, assigned to nobody

[2019-09-27 15:20] charlotte12l commented on #71
@YuwenXiong  I encounter a similar error, and rebuild all cython modules automatically or manually not working
`Traceback (most recent call last):
  File "upsnet/upsnet_end2end_test.py", line 44, in <module>
    from upsnet.models import *
  File "upsnet/../upsnet/models/__init__.py", line 1, in <module>
    from .resnet_upsnet import resnet_50_upsnet, resnet_101_upsnet
  File "upsnet/../upsnet/mo

[2019-09-27 19:53] charlotte12l commented on #66
Have you found solution for this issue? I encountered the same problem :( Thanks!

[2019-09-28 12:29] kahnchana commented on #82
You could convert it to the coco or cityscapes format and run the training like that.

[2019-09-28 12:47] shubhaminnani commented on #82
how can I convert images to json file? @kahnchana

[2019-09-29 01:20] ljjyxz123 opened #88 "/autograd/python_function.cpp:638: UserWarning: Legacy autograd function with non-static forward method is deprecated and will be removed in 1.3."
Is anyone using pytorch 1.2.x to run this project?

I am using pytorch 1.2.0, while in the training process, the warning message shown as in the title:

/autograd/python_function.cpp:638: UserWarning: Legacy autograd function with non-static forward method is deprecated and will be removed in 1.3.

is continuing printing on the screen line by line, therefore I cannot read my debug information.

Do

[2019-09-29 01:52] ljjyxz123 commented on #88
Solved by :

`import warnings`
`warnings.filterwarnings("ignore")`

[2019-09-29 01:52] ljjyxz123 commented on #88
So I will close this issue.

[2019-09-29 01:52] #88 closed, assigned to nobody

[2019-09-30 15:47] discretecoder opened #89 "GPU allocation"
I have 8 GPUs available and I wish to train on the GPUs 3,4,5,6, when i change the gpus to '3,4,5,6' and also the same for CUDA devices, I get an error from train_model = eval(config.symbol)().cuda() in the training script. it looks like it still uses gpus 0,1,2,3 for this step. what would be a solution? Thank you

[2019-09-30 17:10] charlotte12l commented on #11
@YuwenXiong I use the latest  init_cityscape.sh and the panoptic pics are in data/cityscapes/panoptic, but the ZeroDivisionError still exists. Is there any possible bugs like path? That's confusing... Thanks!

[2019-10-01 13:21] discretecoder commented on #81
could you share your code here? @yangia

[2019-10-02 00:11] YuwenXiong commented on #89
Just set `CUDA_VISIBLE_DEVICES=3,4,5,6` and leave the config files unchanged.

[2019-10-02 00:11] #89 closed, assigned to nobody

[2019-10-02 15:26] denru01 opened #90 "Ground truth files for the training set of Cityscapes"
For evaluating the performance of panoptic segmentation on Cityscapes, the author provides two files "cityscapes_fine_val.json" and "panoptic.zip" for the evaluation set. Are there any corresponding files for the training set? If no, are there any tutorials or scripts regarding how to generate these files by ourselves?

Thanks!

[2019-10-07 12:56] discretecoder commented on #20
@WenFuLee how did you solve this problem?

[2019-10-09 13:17] rasya-ramesh opened #91 "DataParallel - AssertionError: Invalid device id"
Traceback (most recent call last):
  File "upsnet/upsnet_end2end_train.py", line 407, in <module>
    upsnet_train()
  File "upsnet/upsnet_end2end_train.py", line 176, in upsnet_train
    train_model = DataParallel(train_model,  device_ids=[int(_) for _ in config.gpus.split(',')]).to(gpus[0])
  File "/usr/local/lib/python3.6/dist-packages/torch/nn/parallel/data_parallel.py", line 133, in __init__

[2019-10-09 13:20] rasya-ramesh commented on #91
I wanted to add that I am using Google Colab to run this code.

[2019-10-10 11:53] discretecoder opened #92 "Testing on own data or on the test images in cityscape"
I am trying to run the test code to infer from the test images but I get an error that the annotation file does not exist for the data. i would also like to test on my own images or any image. how can I modify the test code to do so

[2019-10-11 13:14] discretecoder commented on #92
From upsnet/datasets/cityscapes.py :
self.anno_files = {
            'train': 'instancesonly_gtFine_train.json',
            'val': 'instancesonly_gtFine_val.json',
            'test': 'image_info_test.json',
            'train_extra': 'instancesonly_gtCoarse_train_extra.json',
            'debug': 'instancesonly_gtFine_debug.json',
        }

        self.panoptic_json_file = os.path.join(config.

[2019-10-13 02:48] renxuezi opened #93 "OSError: [Errno 12] Cannot allocate memory"
How to remove all multi-thread code and use a single core in base_dataset.py？
I have changed "annotations.extend(p[0]);pan_all.extend(p[1])"  into  "pan_all.extend(p)",
now it got stuck when the results were output，how should I modify code?

[2019-10-14 14:46] discretecoder commented on #72
How does the inference work? is there a script for inference

[2019-10-16 11:03] discretecoder commented on #75
I tried using the panoptic_outputs and using the palette function but it skips the instances somehow

![pano29](https://user-images.githubusercontent.com/55992570/66913524-16434e80-f015-11e9-8935-2ce6c61cfe62.png)

[2019-10-17 11:12] discretecoder commented on #92
when I infer on resnet_upsnet, I get a dictionary with following keys as output ['cls_probs', 'pred_boxes', 'mask_probs', 'fcn_outputs', 'cls_inds', 'panoptic_cls_inds', 'panoptic_cls_probs', 'panoptic_outputs'].

I assumed fcn_outputs contains only semantic result and panoptioc_outputs contains the panoptic result. how do I export the result in the panoptic visualization format used in the paper

[2019-10-17 11:24] discretecoder opened #94 "Inference"
after training on cityscapes, how can I infer on my own images based on those weights? is there a script for inference or how can i change the test code to infer?
thanks for the great work.

[2019-10-20 06:46] Jacobew opened #95 "Question about the unknown class in evaluation"
Hi, thanks for the excellent work!  @YuwenXiong

I have a question about the evaluation of UPSNet. The paper says, " In evaluating the metric, any pixel belonging to unknown is ignored, i.e., setting to void which will not contribute to the results".
Does it mean you have modified panoptic ground truth images and do not take the sampled unknown segments into consideration?

BTW, is there any resul

[2019-10-22 15:33] discretecoder opened #96 "How can I add a graph to tensorboard to visualize the network?"

[2019-10-23 20:11] YuwenXiong commented on #95
The ground truth images are not modified, ignoring unknown/void pixels is by design (https://github.com/cocodataset/panopticapi/blob/master/panopticapi/evaluation.py#L132).
Unfortunately there is no non-deformconv version for our model, you can modify the model definition and run it by yourself.

[2019-10-23 20:11] #95 closed, assigned to nobody

[2019-10-23 20:13] YuwenXiong commented on #93
You can set `cpu_num` variable in `base_dataset.py` to 1 to avoid memory issue.

[2019-10-23 20:13] #93 closed, assigned to nobody

[2019-10-24 00:32] renxuezi commented on #93
Thank you for your reply,my problem solved after I've changed to a better GPU.

[2019-10-29 11:35] Flames60 commented on #79
Same error when trained on CityScapes, what is your environment?

[2019-10-30 03:03] Flames60 commented on #59
Same error. Have you solved it?

[2019-10-30 10:36] Flames60 commented on #59
I solved it by upgrading gcc from 4.8.5 to 4.9.4.

[2019-10-30 10:49] Flames60 commented on #76
How do you fix it?

[2019-10-30 11:59] Flames60 commented on #96
Could you tell me how to see the result on tensorboard? I can not open the localhost:6006.

[2019-11-01 09:20] liuhongzhen111 opened #97 "CUDA error: device-side assert triggered"
for upsnet_resnet50_cityscapes_4gpu.yaml with the error, but for upsnet_resnet50_coco_4gpu.yaml it was okay

[2019-11-04 13:07] discretecoder opened #98 "Autograd function update"
UserWarning: Legacy autograd function with non-static forward method is deprecated and will be removed in 1.3. Please use new-style autograd function with static forward method

is there is fix for this?

[2019-11-05 14:33] KleinXin opened #99 "What is the numpy and pytorch version required?"
I am using numpy 1.15.4 and pytorch 0.4.1. Error reported when I run the test codes with error message

`File "upsnet/../upsnet/bbox/bbox_transform.py", line 15, in <module>
    from .bbox import bbox_overlaps as bbox_overlaps_cython
  File "__init__.pxd", line 918, in init bbox
ValueError: numpy.ufunc size changed, may indicate binary incompatibility. Expected 216 from C header, got 192 from PyOb

[2019-11-05 14:38] discretecoder opened #100 "how can I train from scratch?"

[2019-11-06 08:55] discretecoder commented on #100
I was also wondering if you have tried to train with depth? thanks

[2019-11-06 10:43] discretecoder commented on #13
I am training on 4 channel inputs and getting the same error Expected input batch_size (503) to match target batch_size (512). with cityscapes

[2019-11-06 12:36] discretecoder commented on #13
I am training on 4 channel inputs and I get a similar error while ROI aligning. in config, the pre-defined batch size is 512 and I get different ones per image. like 503, 497 etc and I get a similar error at

"./upsnet/../upsnet/models/rcnn.py", line 191, in forward
    cls_loss = self.cls_loss(cls_score, cls_label)

 Expected input batch_size (503) to match target batch_size (512).

thanks :)

[2019-11-07 09:00] discretecoder commented on #13
Thanks again for your great work.
I have a similar question to this one.
RCNN outputs a dictionary with cls_scores, bbox_pred and fc_feat.
the dimension of these outputs is expected to be (512, _ ) from config.train.batch_rois=512 but I get different ones and a value error Expected input batch_size (511) to match target batch_size (512).

how do i fix this issue

[2019-11-08 15:09] BloomBabe opened #101 "Error related with allocate memory"
I set cpu_num variable in base_dataset.py to 1 to avoid memory issue, but i got an error:
[[0, 0, 0],
        [0, 0, 0],
        [0, 0, 0],
        ...,
        [0, 0, 0],
        [0, 0, 0],
        [0, 0, 0]]], dtype=uint8)]'. Reason: 'error("'i' format requires -2147483648 <= number <= 2147483647",)'
I also tried to remove all multi-thread code, but had problem with this error:
annotations.exten

[2019-11-11 14:44] Hcyang-NULL opened #102 "Does the current network support the annotations with is_crowd=1 (custom dataset with coco-format) ?"
The annotations in my custom dataset (coco format) are all is_crowd=1. When I started training, it reported a ValueError on line 136 of upsnet_end2end_train.py：
[code]
message of the ValueError is the following:
[code]
It seems that the train_dataset is empty, but the settings is correct.
But after I changed all is_crowd to 1, this problem disappeard. So I want to ask if the code doesn't support t

[2019-11-11 14:49] Hcyang-NULL commented on #100
Just set network.use_pretrained to False in your own yaml file and it will train from scratch.
![image](https://user-images.githubusercontent.com/46910054/68595881-462b2800-04d5-11ea-8df7-27b921594f3f.png)
you also can modify this configuration in config/config.py (default configurations)

[2019-11-12 05:57] masonwang96 commented on #66
same problem...to be solved...

[2019-11-12 07:29] Flames60 opened #103 "How to use APEX in your code"
I try to use apex in your code, but it seems like the deformable conv does not support for fp16, is it right?

    1, ctx.deformable_groups, col_buffer)
RuntimeError: expected scalar type Float but found Half (data_ptr<float> at /home/flames/anaconda3/lib/python3.7/site-packages/torch/include/ATen/core/TensorMethods.h:5747)
frame #0: c10::Error::Error(c10::SourceLocation, std::string const&) + 0x3

[2019-11-13 14:13] StoicGilgamesh commented on #64
Hey AugustYuan! how did you solved the problem? I am facing the same issue.

[2019-11-14 10:30] discretecoder opened #104 "Training on own dataset"
I am trying to train the network on a custom dataset where I have the rgb images and panoptic labels in png format.
I am following your tip and trying to get the labels in coco format.
and I have following questions. It would be a great help if you could help me with them.

1. I created coco format instances_train/val2017.json files following

http://www.immersivelimit.com/tutorials/create-coco-an

[2019-11-14 13:42] StoicGilgamesh commented on #14
Can you please tell me how did you managed to solve it? i am having the same issue

[2019-11-14 14:38] StoicGilgamesh opened #105 "ImportError: cannot import name 'deform_conv_cuda'"
First of all thanks for this great research and the repository! Very helpful.

I have followed the instructions but when I try to train or test using pre-trained weights I get the following error. Could you please help?

upsnet/../upsnet/config/config.py:180: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/l

[2019-11-15 07:14] sitingshen commented on #14
On this issue, I wrote '-D_GLIBCXX_USE_CXX11_ABI':['0'] to line 51 of this file.[https://github.com/uber-research/UPSNet/blob/master/upsnet/operators/build_deform_conv.py](url) @StoicGilgamesh

[2019-11-15 07:17] sitingshen commented on #14
On this issue, I wrote '-D_GLIBCXX_USE_CXX_ABI':['0'] to line 51 of this file.https://github.com/uber-research/UPSNet/blob/master/upsnet/operators/build_deform_conv.py @StoicGilgamesh

[2019-11-15 11:08] #105 closed, assigned to nobody

[2019-11-15 11:22] StoicGilgamesh opened #106 "ImportError: libcudart.so.10.1: cannot open shared object file: No such file or directory"
First of all thanks for this great research and the repository! Very helpful.

I have followed the instructions but when I try to train or test using pre-trained weights I get the following error. Could you please help?

upsnet/../upsnet/config/config.py:180: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/l

[2019-11-19 09:19] SunNYNO1 commented on #105
I meet the same problem，do you solve this problem？ could you help me？

[2019-11-19 10:18] StoicGilgamesh commented on #105
For me, the problem was with my Cuda settings and PyTorch version on the cluster. PyTorch was not able to recognize GPUS.

[2019-11-19 10:18] #106 closed, assigned to nobody

[2019-11-19 11:53] SunNYNO1 commented on #105
thank you very much, but I  find the github dont have the deform_conv_cuda.py under the path, do you know why, thanks again ------------------ 原始邮件 ------------------
发件人: "Hrishikesh Gupta"<notifications@github.com>
发送时间: 2019年11月19日(星期二) 晚上6:18
收件人: "uber-research/UPSNet"<UPSNet@noreply.github.com>;
抄送: "sun"<1246680611@qq.com>;"Comment"<comment@noreply.github.com>;
主题: Re: [uber-research/UPSNet

[2019-11-20 14:53] discretecoder opened #107 "Model fails to transfer to gpu"
when I try to train on my own dataset,
the model fails to generate.  train_model = eval(config.symbol)().cuda() is just executed repeatedly,
is there a solution?

thanks

[2019-11-21 12:12] StoicGilgamesh opened #108 "Getting the Panotopic Segmentation from Pretrained Model"
Thank you for this great repository! I am trying to reproduce the panoptic segmentation results using the pre-trained weights. I am using the following command:

python upsnet/upsnet_end2end_test.py --cfg upsnet/experiments/upsnet_resnet50_coco_16gpu.yaml --weight_path model/upsnet_resnet_50_coco_90000.pth

Which generates:  output['scores'], output['boxes'],output[ 'masks'], output['ssegs'], outp

[2019-11-21 14:57] discretecoder commented on #102
In my custom dataset, all is_crowd = 0 and I am still having the same problem

ValueError: num_samples should be a positive integer value, but got num_samples=0

[2019-11-21 15:04] Hcyang-NULL commented on #102
I rebuild my custom dataset with is_crowd = 0 which means that all annotations are transforming to polygon format and finally the code works fine. Maybe your json file of your custom datset really exists some problems.
Maybe you can check it again.

[2019-11-21 15:19] discretecoder commented on #102
basically in my code the function 'filter for training' is filtering out all the roidb entries and nothing left for training. I am trying to find out why

[2019-11-22 09:03] discretecoder commented on #102
I used pycocotools to generate my coco format data, but i guess there is a problem with labels because i get an IoU of 0 which means the masks are totally off the object

[2019-11-22 18:10] #100 closed, assigned to nobody

[2019-11-22 18:10] discretecoder opened #109 "proposal files"
Hi all,

I was wondering how are the proposal files generated

[2019-11-23 12:54] Flames60 opened #110 "Can you tell us how do you train the pretrained models?"
I want to know about it, thanks~

[2019-11-25 09:44] discretecoder commented on #81
hi @yangia how did you use vistas ? did you convert it to coco? was it enough just to create coco json format files

[2019-11-26 15:25] kahnchana commented on #82
http://www.immersivelimit.com/tutorials/create-coco-annotations-from-scratch
This was useful for me

[2019-11-26 16:20] #82 closed, assigned to nobody

[2019-11-27 09:01] #66 closed

[2019-11-27 14:24] SunNYNO1 commented on #64
i meet the same problem, could you help me?

[2019-11-28 16:41] SunNYNO1 commented on #56
i am facing the same problem, could you share your inference code for coco dataset for me? thank you very much. my email : sunnyno231@gmail.com

[2019-11-28 17:02] SunNYNO1 opened #111 "how to use this code on VOC dataset to get VOC's images"

[2019-11-28 17:09] SunNYNO1 opened #112 "how to test? i want apply this code to voc?"
i just want to use this code to get the voc's segmentation images, when i use this code on my computer , i meet this error：
`RuntimeError: CUDA out of memory. Tried to allocate 1.04 GiB (GPU 0; 3.95 GiB total capacity; 1.24 GiB already allocated; 741.94 MiB free; 1.03 GiB cached)`

**the code：**
`import os
import torch
import torch.nn as nn
import argparse
import cv2
import numpy as np

from upsne

[2019-11-28 17:11] #111 closed, assigned to nobody

[2019-11-28 17:19] SunNYNO1 commented on #56
@lfdeep , i am facing the same problem, could you share your inference code for coco dataset for me? thank you very much. my email : sunnyno231@gmail.com

[2019-11-29 04:38] lfdeep commented on #56
Already sent

[2019-11-29 10:06] discretecoder commented on #56
@lfdeep could you send me as well ? my email id is discreetcoder@gmail.com
thanks

[2019-11-29 10:43] lfdeep commented on #56
Already sent

[2019-11-29 11:59] SunNYNO1 commented on #56
Sorry, I didn't receive your email, could you send me again?  please send to this email：1246680611@qq.com, thank you very much.

[2019-11-30 12:29] WindAndCloud commented on #112
I am meeting the same problem, do you solve it, if you do it , could you help me?

[2019-11-30 12:32] WindAndCloud commented on #56
@lfdeep  could you send me as well ? my email id is 1271595926@qq.com
thank you very much ~-~

[2019-12-02 07:50] Mooonside opened #113 "How to obtain instancesonly_gtFine_train.json?"
Hi, I notice that when training on Cityscapes, one needs to download [instancesonly_gtFine_train.json](https://github.com/uber-research/UPSNet/blob/aa8434e5a721ed217849607815304f68dfd7720a/init_cityscapes.sh#L9). However, some of the annotations in it are slightly different from the ones generated by [the official converter](https://github.com/mcordts/cityscapesScripts/blob/master/cityscapesscript

[2019-12-03 08:33] Scharduldeshpande commented on #56
@lfdeep thanks, could you send me as well? my email id is shardul.p.deshpande@gmail.com

[2019-12-03 14:16] discretecoder commented on #56
@lfdeep i did not receive it :/
could you send again

[2019-12-04 09:42] discretecoder opened #114 "number of classes"
I have 50 classes in my dataset out of which 25 are thing and 25 are stuff. in the panoptic_coco_categories.json, i have marked them as isthing = 0 and 1 and i created instance labels for only things and panoptic labels for both things and stuff.
during my training, if i write number of classes 25+1 = 26, it does not accept it. but if i write number of classes 51, it trains. what could be the prob

[2019-12-04 09:58] discretecoder commented on #112
its because your GPU is being used by other sources or does not have enough memory available

[2019-12-04 12:00] discretecoder commented on #114
File "./upsnet/../upsnet/operators/modules/proposal_mask_target.py", line 49, in forward
    frcn_blobs = sample_rois(entry, im_info[im_i, 2], im_i)
  File "./upsnet/../upsnet/bbox/sample_rois.py", line 105, in sample_rois
    bbox_targets, bbox_inside_weights = _expand_bbox_targets(bbox_targets)
  File "./upsnet/../upsnet/bbox/sample_rois.py", line 174, in _expand_bbox_targets
    bbox_targets[in

[2019-12-09 13:06] #114 closed, assigned to nobody

[2019-12-09 13:38] #107 closed, assigned to nobody

[2019-12-10 10:06] discretecoder opened #115 "Class definitions for own data"
Greetings,

I have a question, if I have panoptic labels where I use 5 different shades od blue for cars for example like in cityscapes panoptic labels, how should i define them all under one "car" class? or should I have 5 different classes for cars?

thanks

[2019-12-11 14:45] fu123456 commented on #74
Hi, I use this python script to test my images, but it output errors:
 File "fg_demo.py", line 101, in <module>
    segmentation_result = np.uint8(np.squeeze(np.copy(output['fcn_outputs'])))
  File "/home/user/anaconda3/lib/python3.7/site-packages/numpy/lib/function_base.py", line 792, in copy
    return array(a, order=order, copy=True)
  File "/home/user/anaconda3/lib/python3.7/site-packages/torc

[2019-12-12 10:55] hsfzxjy opened #116 "The actual batch size of upsnet_resnet50_cityscapes_4gpu.yaml"
Hi. I notice that you set `batch_size = 1` and `use_horovod = False` in `upsnet_resnet50_cityscapes_4gpu.yaml`. And in [`upsnet_end2end_train.py`](https://github.com/uber-research/UPSNet/blob/master/upsnet/upsnet_end2end_train.py#L133), the `batch_size` you passed to `DataLoader` is `config.train.batch_size`. It seems that under this settings, UPSNet will be trained with batch size 1? Is it the de

[2019-12-12 18:31] YuwenXiong commented on #116
Yes, you can check https://github.com/uber-research/UPSNet/blob/master/upsnet/upsnet_end2end_train.py#L256, every iteration we will get one batch with `batch_size=1` for each gpu, so the effective batch size should be 4.

With the 4gpu config file one epoch should be ~1.5k iterations, please make sure your code/config are unmodified or modified on purpose.

[2019-12-13 02:58] #116 closed, assigned to nobody

[2019-12-17 06:49] Anikily opened #117 "What format is the Image folder."
After download coco2017 dataset, I only have 'train2017', 'val2017' fold that has many pictures, so where is the 'image' fold?

[2019-12-17 06:50] Anikily commented on #117
Do i need to rename the train2017 as image?

[2019-12-17 09:04] PkuRainBow commented on #12
We have tried to run the UPSNet based on the Inplace-ABN with pytorch0.4.1 but find the performance drops.
We apply the Inplace-ABN in both the backbones and the detection head +segmentation head.
It would be great if you could share with us some advice.

[2019-12-17 09:26] Anikily opened #118 "what's the meanning of init_coco.py and init_coco.sh"
Could you please explain the motivation of these two files?

[2019-12-18 06:56] Anikily opened #119 "missing keys in state_dict"
I am running upsnet_resnet50_coco_4gpu.yaml and i have download the resnet-50-caffe.pth and resnet-101-caffe.pth in model file,but  i still get this worning:

 UserWarning: missing keys in state_dict: "{'fcn_head.fcn_subnet.conv.1.0.conv.weight', 'fpn.fpn_p2.bias', 'fpn.fpn_p4.bias', 'rpn.cls_score.weight', 'mask_branch.mask_deconv1.0.weight', 'fcn_head.fcn_subnet.conv.0.0.conv_offset.weight', 're

[2019-12-18 10:26] discretecoder opened #120 "Unified panoptic output error"
I am getting the following error. I am training on 8+1 thing and 32 total classes and my weights are also matching the number of classes but I am still getting this error while trying to save paoptic output. has anyone seen this error
thanks

**ValueError: could not broadcast input array from shape (1024,780,3) into shape (1024)**

[2019-12-18 14:00] discretecoder commented on #120
so one problem i notices is that the mask predictions are really good but they are exactly flipped. what could be the error? is it from training or from visualization

[2019-12-18 15:46] discretecoder commented on #120
so one problem i notices is that the mask predictions are really good but they are exactly flipped. what could be the error? is it from training or from visualization.

so basically my question would also be how can I flip the detections

[2019-12-19 13:31] #119 closed, assigned to nobody

[2019-12-19 13:31] #118 closed, assigned to nobody

[2019-12-21 08:43] PkuRainBow commented on #85
I also meet the same error. Could you share how to address this problem?

[2019-12-23 07:39] PkuRainBow commented on #119
@Anikily So do you achieve any conclusion about this problem?

[2019-12-23 07:49] #117 closed, assigned to nobody

[2019-12-23 07:59] Anikily commented on #119
@PkuRainBow doesn't matter.

[2019-12-23 08:00] PkuRainBow commented on #119
Thanks!

[2020-01-02 12:19] Eswar1991 commented on #28
Can you suggest the way to solve this bug?? It's really killing us

[2020-01-09 13:45] MuhammadAli1214 opened #121 "ValueError: could not broadcast input array from shape (4) into shape (0)"
Hi there,
I am getting this error when I try to run the training script. Full error message is given below.

Traceback (most recent call last):
  File "upsnet/upsnet_end2end_train.py", line 403, in <module>
    upsnet_train()
  File "upsnet/upsnet_end2end_train.py", line 269, in upsnet_train
    output = train_model(*batch)
  File "/home/kvml/anaconda3/envs/upsnet/lib/python3.6/site-packages/torch

[2020-01-09 13:52] MuhammadAli1214 opened #122 "Require help on data format for panoptic segmentation"
Hello,

I am having difficulty understanding the format of data/annotations required by this model. I have tried searching everywhere but didn't have any luck. Can anyone clarify how to format the data for using this repo.

The repo states this:

I am not clear about the format of annotations used for training this model. Any help would be appreciated.

[2020-01-13 09:02] discretecoder commented on #22
I am also having this error with my own dataset.
how can I resolve the issue

[2020-01-13 10:14] discretecoder commented on #11
I created my dataset similar to coco dataset, I am getting the detections and I can save them as well but I get this error

[2020-01-14 10:35] lushishuai commented on #30
hello，have you help him solve this problem?

[2020-01-15 09:07] xudi1997 opened #123 "Cuda"

[2020-01-15 09:07] xudi1997 opened #124 "cuda out of memory"

[2020-01-15 09:09] xudi1997 commented on #124
I use VI_OP_TITANXP, memory is enough,but met the question CUDA error: out of memory

[2020-01-15 09:12] xudi1997 commented on #79
maybe the labels of the images have questions. The labels should be labeltrainIds.png

[2020-01-15 09:15] #123 closed, assigned to nobody

[2020-01-15 10:23] discretecoder commented on #55
I am training on my own dataset with the same setting as cityscapes i.e same number of data (different resolution of images), city images so similar classes. the RCNN results are quite good but the FCN- semantic results are really bad especially for dense city images. is there any solution to improve the performance that you could suggest?

[2020-01-17 08:33] discretecoder opened #125 "Cityscapes pretrained weights"
Hi,
I wondering if you have higher level features from cityscapes training like the imagenet pretrained weights to use on a similar dataset?
thanks

[2020-01-24 13:05] discretecoder opened #126 "change in the dimensions of the image"
when i try to save unified panoptic output, the width of the output image is not the same as the input image.  eg: if i have an imput image of 720*1024 size, my output is either 720*1023 or 720*1025, it changes along the width.
what could be the reason

[2020-01-28 15:10] discretecoder opened #127 "panoptic_stuff_area_limit"
hi
what does this parameter do

[2020-02-06 15:54] discretecoder opened #128 "Panos output format"
Hi,
Thanks for the great work,
what is the panos output format

I assume the panos in the output is supposed to have indices in the range of class ids and 255, but I am getting a lot of regions with value more than class ids. how do i fix that

[2020-02-08 02:47] yichen928 opened #129 "Has anyone reached the performance in the paper with 4 gpus in Cityscapes dataset?"
Thank you for the excellent work.
When I run your code in cityscapes with 4 GPUs, I achieved PQ: 58.3, SQ: 79.8, RQ: 71.7, which is lower by one than your result in the paper.
 I have used your config file: upsnet_resnet50_cityscapes_4gpu.yaml.
Did I make something wrong?

[2020-02-13 16:06] discretecoder opened #130 "issue with pred.json file"
In the coco experiment, pred.json file only stores the predictions from one image.
should it not store all the predictions from the entire val set??
thanks

[2020-02-19 03:09] xiong224 commented on #56
@lfdeep could you provide the inference code for coco? Thanks very much. my email id is 895917144@qq.com

[2020-03-02 04:07] LetsGoFir opened #131 "Why the PQ is not equal to SQ * RQ?"
![image](https://user-images.githubusercontent.com/59643844/75644726-2e430400-5c7e-11ea-886b-3260f6f4d738.png)
Why the PQ is not equal to SQ * RQ?
For example, 0.78*0.524 = 0.40872 < 42.5.

[2020-03-02 08:39] ywher commented on #56
@lfdeep could you send me as well?  my email id is 958118196@qq.com.
thanks a lot!

[2020-03-10 09:41] discretecoder opened #132 "Pan output exceeds number of classes"
I trained the network on 38 classes. but when i test the model, i tried printing the np.unique(pan) from the output and it has class ids greater than 38 so when i try to feed the sem to color generator, it throws an error since there are only 38 classes in the gt.
how do i fix this

following is how the np.unique(pan) looks like. all the unique pans after 37 do not make any sense as these classes

[2020-03-16 15:22] ywher commented on #129
Can I ask you some questions? I am also want to reach the performance in the paper with 4 gpus in Cityscapes dataset

[2020-03-19 04:00] yichen928 commented on #129
I still have not reached the performance......

[2020-03-21 01:33] ywher commented on #129
Still thanks，so your PQ is from using the model the author supply or the model trained by yourself on the default params?

[2020-04-17 23:52] bsafacicek opened #133 "Defining New Datasets in Cityscapes Format"
Hi,

I am trying to write my own dataloader for using your codebase on KITTI semantic dataset (http://www.cvlibs.net/datasets/kitti/eval_semantics.php). For this, the easiest way I could think of was to convert KITTI labels into Cityscapes format and use your code for Cityscapes training.

But, the codebase is expecting the following 3 files:
instancesonly_gtFine_train.json, instancesonly_gtFine_v

[2020-04-19 02:54] txfs1926 commented on #129
Hi, with the default Cityscapes resnet 50 4 GPUs setting, I only harvested:
2020-04-19 02:07:35,845 | base_dataset.py | line 301:           |    PQ     SQ     RQ     N
2020-04-19 02:07:35,845 | base_dataset.py | line 302: --------------------------------------
2020-04-19 02:07:35,845 | base_dataset.py | line 304: All       |  53.9   79.9   66.1    19

And I have tested 16 GPUs setting with this re

[2020-04-19 10:03] txfs1926 commented on #129
I've found that some instances have been predicted to be VOID.
![图片](https://user-images.githubusercontent.com/44914789/79685006-13e1db80-8268-11ea-9dd1-10b24c449383.png)
My env:
Pytorch 1.3.0/CUDA 10.2

[2020-04-20 12:48] HBKTMD commented on #92
Hello. I want to test on my own data based on the pretrained weight. Did you succeed？How to prepare the dataset format? and it's possible to use one gpu for testing?

[2020-04-24 02:56] tonypeng commented on #85
running into this as well @pkuCactus  @PkuRainBow were you able to fix the problem?

[2020-04-24 17:00] DdeGeus commented on #75
It appears that the 'im_info' entry of the data dictionary should contain the dimensions of the input image, as it is used for scaling the bounding boxes. So, for Cityscapes, take

`im_info = np.array([[1024, 2048, 3]])data = {'data': im_tensor , 'im_info' : im_info}`

This solved the problem for me. It now outputs panoptic segmentation results including _things_ instances.

[2020-04-24 17:04] DdeGeus commented on #75
It appears that the 'im_info' entry of the input data dictionary should contain the dimensions of the input image, as it is used for scaling the bounding boxes. So, for Cityscapes, take

[code]

instead of the random values from `np.random.rand(1,3)`

This solved the problem for me. It now outputs panoptic segmentation results including things instances.

[2020-05-13 02:32] ginobilinie opened #134 "batch_size per gpu is limited to 1"
I have tried to use this copy of code, however, I found the batch_size per GPU is limited 1.
It is limited by the following codes in base_dataset.py:

            elif key == 'roidb':
                assert len(batch) == 1
                blob.update({'roidb': batch[0]['roidb']})

I'm asking how I can remove the limit.

Thanks.

[2020-05-20 23:25] squashking commented on #56
@lfdeep could you send me a copy of your code for panoptic segmentation as well? litianyou1988@gmail.com Thanks a  lot !

[2020-05-20 23:58] squashking commented on #56
@AI-liu I have tested your code but it seems not for panoptic segmentation.  Attached is the result I got for an outdoor image. I have also tried replace output['fcn_outputs'] with output['panoptic_outputs'], but the result is the same. Do you have code for panoptic segmentation? Thanks a lot!

![hello_result](https://user-images.githubusercontent.com/34270290/82508772-6bb28180-9b49-11ea-91a6-5593

[2020-06-17 02:57] choodly commented on #114
I also encountered the same problem, how do you solve it?

[2020-06-20 01:35] choodly opened #135 "PQ calculation error"
Thank you for your excellent work. On my own dataset, PQ calculation of stuff class is wrong. Can you tell me what else I should pay attention to?

2020-06-19 19:17:10,088 | upsnet_end2end_test.py | line 158: test config:{'dataset': {'dataset': 'coco',
             'dataset_path': './data/coco/',
             'image_set': 'train2017',
             'num_classes': 4,
             'num_seg_classes':

[2020-07-04 09:23] AMzhanghan commented on #63
I setup  use_horovod: false,  but get the same problem!!!

[2020-07-04 09:25] AMzhanghan commented on #63
Have you solved it ？

[2020-07-04 09:31] AMzhanghan opened #136 "Segmentation fault (core dumped)"
when I train the UPSNet, used the config of "upsnet/experiments/upsnet_resnet50_coco_4gpu.yaml", I got the problem as:

`upsnet/../upsnet/models/resnet.py:285: UserWarning: unexpected key "fc.weight" in state_dict
  warnings.warn('unexpected key "{}" in state_dict'.format(name))
upsnet/../upsnet/models/resnet.py:285: UserWarning: unexpected key "fc.bias" in state_dict
  warnings.warn('unexpected k

[2020-07-04 09:33] AMzhanghan commented on #136
use_horovod: false ; I was not used the horovod

[2020-07-04 12:31] AMzhanghan commented on #59
Same error. Have you solved it?

[2020-07-04 14:46] AMzhanghan commented on #59
Same error. Have you solved it?

[2020-07-28 06:10] sunnyheart008205 commented on #56
@lfdeep Could you please send your test code for coco model? Thanks very much. My email address is sxj_njust@163.com

[2020-07-30 14:25] choodly commented on #56
@Ifdeep  Could you send me your inference code for coco dataset?  My email  is qdly0406@163.com . Thank you very much.

[2020-07-30 15:00] choodly commented on #56
@lfdeep Could you send me your inference code for coco dataset?  My email  is qdly0406@163.com . Thank you very much.

[2020-10-18 01:03] youkibebop opened #137 "Can't generate Panoptic results, only Instance."
I successfully trained the network, and tested the Instance segmentation results, but the testing stalls at the code for generating the panoptic results. Initially, the error I received was: ModuleNotFoundError: No module named 'panopticapi.utils'. I solved this by using pip to install panopticapi. But now, upsnet_end2end_test.py will not generate the panoptic results.  It appears to be stalling a

[2020-10-18 23:54] #137 closed, assigned to nobody

[2020-10-27 12:48] He-fangyuan opened #138 "System and environment"
I would like to ask what operating system the upsnet is running under。

[2020-11-12 20:10] IAMShashankk commented on #91
@rasya-ramesh were you able to solve it?

[2020-11-13 10:47] youkibebop commented on #106
What was your solution to this problem?

[2020-11-17 11:43] t-mm-dh commented on #56
@lfdeep Could you send me your inference code for coco dataset? My email is 857391372@qq.com . Thank you very much.

[2020-12-25 11:29] wshilaji commented on #104
Have you solved your problem?I am trying to train the network on a custom dataset too.
 How to create Panoptic_{}2017.json?

[2020-12-25 12:46] wshilaji commented on #9
兄弟请问怎么自定义自己的coco panoptic格式的数据集

[2020-12-27 02:34] wshilaji commented on #137
Have you solved the problem？I have this problem, too.Can you teach me?
2020-10-18 01:19:14,930  upsnet_end2end_test.py | line 307: unified pano result:

[2020-12-27 02:44] wshilaji commented on #137
In addition, do you know how to generate own custom coco format Panoptic segmentation dataset？

[2021-01-07 02:51] wshilaji commented on #120
Have you solved this problem？I meet  this question too

[2021-01-07 02:52] wshilaji commented on #114
how do you solve it?I also encountered the same problem

[2021-01-10 09:07] chauncygu commented on #30
my algorithm also has the problem:

ImportError: Extension horovod.torch has not been built:If this is not expected, reinstall Horovod with HOROVOD_WITH_PYTORCH=1 to debug the build error.

could any suggestions for solving this problem?

[2021-01-16 00:55] rlangefe commented on #102
I ran into the same issue using pycocotools. From what I can tell, the way that pycocotools does things, if you iscrowd = 1, you get the RLE format. If you use iscrowd = 0, though, it seems that it struggles to make very complex polygons, so there are some overlapping regions. The big issue here is that it ignores the crowd classes during training, so you get nothing if all of your classes are "cr

[2021-01-17 18:27] rlangefe commented on #121
Were you able to solve this? I have the same issue when I run mine.

[2021-01-17 19:14] rlangefe commented on #114
I ran into this too. Is there a solution?

[2021-01-20 03:23] wshilaji commented on #114
have you solved it?

[2021-01-20 15:29] rlangefe commented on #114
Yeah! I solved it for us! We determined that it pulls the "thing" segmentations from the instances_xxx2017.json file. For us, the issue was that we were putting all the segmentations (things and stuff) into the instances json file. We have 1 additional class for num_classes (all the classes with isthing as true) and then one additional class for num_seg_classes (everything together). When we made

[2021-01-20 15:42] rlangefe commented on #137
The issues we had with this kind of error involved not running the init.sh script, which should pull that repo into the UPSNet directories and compile things. Also, the coco_init.sh file runs some useful things. We made a similar script built from the first one to initialize things and make sure it edited the pulled files correctly, as well as generate proper data. To the question of how to make t

[2021-01-21 02:25] wshilaji commented on #114
Thank you.In fact, I solved this problem the day before yesterday. I changed init_coco.py about my own category number
[code]
I made a mistake later because coco2014 instance2014 have __background__ class,and instance2017 don't have  __background__ class.I refer to the wrong format when I write scripts

Now ,everything is OK,,Thank you

[2021-01-21 21:49] rlangefe commented on #114
Can you clarify that a little more? I thought I new the mapping, but I don't think I really do. So, when I looked at this code, I thought it was just moving the "stuff" classes to the beginning. I flipped it and created that mapping and then started the new mapping at id 0, even though my initial ids started at 1. When I ran the test script, it could not find the color for class 14 (we have 14 tot

[2021-01-21 23:20] rlangefe commented on #22
I ran into this issue too when trying to use my own dataset. Did anyone find a solution to this?

[2021-01-22 03:21] wshilaji commented on #114
Can you send  your error or warnning tips? Do you use wechat , qq,or twitter?GitHub is too inconvenient to use.
Is there no category ['color '] in your dataset format？

[2021-01-22 16:47] rlangefe commented on #114
You can email me about it at my university email langrc18 'at' wfu.edu.

[2021-01-25 15:17] rlangefe commented on #114
Sorry, but could you say more about how you made the category mapping or email me about it? I'm still a little confused on it.

[2021-01-25 22:47] rlangefe commented on #135
I also ran into this issue.

[2021-01-26 13:12] wshilaji commented on #114
my format is coco. If your own instance category  is 5 and your stuff category is 8,now you should change /upsnet/experiment/ **resnent_4gpu_coco.yaml the nums_classes is 6 (instance category +1) and nums_seg_classes 13 (instance category +stuff category). Last you should change code in init_coco.py  refer to your own category
`
idx_mapping = {**{idx1: idx2 for idx1, idx2 in zip(range(x), range(x,

[2021-02-06 07:32] Skywalker666666 commented on #86
Have you solved this problem?

[2021-02-06 07:33] Skywalker666666 commented on #67
How can I test in only one GPU?

[2021-02-16 00:33] shreyas23 commented on #97
Hi @liuhongzhen111! Were you ever able to fix this?

[2021-02-16 16:07] rlangefe commented on #83
I hit this too when trying to run. A fix for this would be helpful!

[2021-02-16 16:30] rlangefe commented on #57
When I ran into this, I introduced normalization along with a smaller learning rate, and things stopped going to nan. I don't know if that will fix your issue, but it might be worth a shot.

[2021-02-18 03:29] Skywalker666666 commented on #56
@ifdeep can you send me a demo code for coco dataset one image testing?  chinayzleo@126.com .  Thanks in advance.

[2021-02-18 03:41] Skywalker666666 commented on #56
@lfdeep can you send me your demo for coco dataset? very interested in how to test single image for coco

[2021-02-18 03:42] Skywalker666666 commented on #56
@lfdeep can you send me your demo for coco dataset? very interested in how to test single image for coco chinayzleo@126.com

[2021-02-23 02:30] Jinming-Su commented on #81
@yangia Would you share the performance trained on Mapillary vistas dataset?

[2021-03-01 03:04] Calsia commented on #85
maybe you can see https://github.com/uber-research/UPSNet/issues/36. it works for me.

[2021-03-01 11:04] Jinming-Su opened #139 "RuntimeError: DataLoader worker (pid 60087) is killed by signal: Killed."
When I train this code for some iterations, this problem happends.
[code]
I am training on a docker with 4 GPUs. Do you know the cause?

[2021-03-02 12:31] Jinming-Su commented on #139
Closed.
Remove 'pin_memory' can solve this problem.

[2021-03-02 12:32] #139 closed, assigned to nobody

[2021-03-02 12:35] Jinming-Su opened #140 "Inference is slow when the classes is large."
@YuwenXiong
When I testing on Mapillary vistas dataset, the classes is set to 66. The post_time is changed from 0.8s (19 classes on cityscapes) to 4.187. Log is shown as listed,
[code]
Do you know the cause? Is that means the code can not deal with large numbers of classes?

[2021-03-03 02:02] wshilaji commented on #135
I also ran into this issue.

[2021-03-13 08:04] advancenOO commented on #56
@lfdeep Could you please send me your code for cityscapes? My email is aidaqian126@163.com
Thanks a lot.

[2021-03-17 16:35] rlangefe opened #141 "Getting NaN for loss/accuracy values on 4 GPU config file"
I was trying to reproduce the COCO results for 4 GPUs. We were able to run things on 2 P100s but when we switched to 4 V100s, we got this:
[code]

Does anyone know what might be causing it? We're using the normal COCO dataset and the provided `upsnet_resnet50_coco_4gpu.yaml` config file.

[2021-03-19 15:36] rlangefe commented on #141
Just an update to this, it runs fine if I switch to just 1 V100, but on 4 V100s (or even 2 V100s), it seems to break like this and I run into an invalid axis error.

[2021-03-23 19:37] rlangefe commented on #141
For anyone who runs into this issue in the future, we did find the solution. This issue has to do with the kernel and how the machine boots up. We had to disable IOMMU passthrough for the PCI bus in our grub.cfg. After doing this, we were able to run without the issue. Seems the GPUs were having an issue tied to a feature of that architecture that doesn't apply to the P100s. It makes the GPUs not

[2021-03-23 19:37] #141 closed, assigned to nobody

[2021-04-08 18:38] Ender1618 opened #142 "Missing nvcc?"
I am on Ubuntu 18.04 and have installed pytorch via:
conda install pytorch torchvision torchaudio cudatoolkit=10.2 -c pytorch

It works and uses the systems GPU fine.

When running the init.sh script, it fails because it does not have access to nvcc.

When installing pytorch with cudatoolkit=10.2, this does not install nvcc.

The system already has the cuda toolkit installed under /usr/local/cuda-

[2021-04-14 09:01] RYYAI commented on #22
Same problem here as well.

[2021-04-14 10:43] rlangefe commented on #22
We fixed this just yesterday on our dataset. We found the issue stemmed from how we were constructing the labels and annotation png files. We needed to make sure that the labels matched and each instance had a unique id. We also had to make sure they were encoded correctly by using the formula from COCO: id = R + G*256 + B*256^2. Once we fixed this, we actually get true positives in the confusion

[2021-04-23 07:30] GabrieleGalimberti-GaleSelector commented on #74
`output['fcn_outputs'].cpu()`

with this you take the output and put on your host from device cuda.

`segmentation_result = np.uint8(np.squeeze(np.copy(output['fcn_outputs'].cpu())))`

[2021-05-24 12:10] Ebeie opened #143 "AssertionError: Failed to read image"
when I run python upsnet/upsnet_end2end_train.py --cfg upsnet/experiments/upsnet_resnet50_coco_4gpu.yaml，this question happened

``Traceback (most recent call last):
  File "upsnet/upsnet_end2end_train.py", line 403, in <module>
    upsnet_train()
  File "upsnet/upsnet_end2end_train.py", line 257, in upsnet_train
    data, label, _ = train_iterator.next()
  File "/home/ustb/anaconda3/envs/upsnet/l

[2021-06-08 05:25] August-en commented on #51
Do you know the reason now? I have the same confusion.

[2021-06-29 06:42] radarjonathan commented on #56
Could someone post the code for the coco dataset? Would help a lot!!

[2021-06-29 07:26] radarjonathan opened #144 "How to infer one Image with COCO Config?"
Hey Guys,

i'm currently trying to use the networt with coco_4_gpu on infering one image.

I'm inputting:
-jpg image with 1280x720
img = cv2.imread('00000001.jpg')
img = cv2.resize(img,(1280,720),interpolation=cv2.INTER_CUBIC)
img = img.transpose(2, 0, 1)
img_tensor = torch.from_numpy(img)
img_tensor = torch.unsqueeze(img_tensor,0).type(torch.FloatTensor).cuda()
img_info = np.array([[720, 1280, 3]

[2021-11-29 14:25] keerti-ds opened #145 "TypeError: new(): invalid data type 'str'"
Hi,

I would like to get the summary of the model using pytorchsummary. I used below code for the same in `upsnet_end2end_train.py`

`input_shape = [1, 3, 224, 224],
summary(train_model, input_shape)`

But this throws me an error as below
`  File "../upsnet/models/resnet_upsnet.py", line 90, in forward
    res2, res3, res4, res5 = self.resnet_backbone(data['data'])
TypeError: new(): invalid data t

[2022-01-26 15:29] kulkarnikeerti opened #146 "Panoptic head implementation"
Hi,

Thank you very much for the great repo.

However, I have hard time in finding the panoptic head code. I can find the code for instance and semantic heads but not for the panoptic. I would like to see the entire architecture of the panoptic head in detail. Can someone guide me in which file exactly I can find the code for panoptic head?

Thanks in advance

[2022-02-03 16:50] kulkarnikeerti opened #147 "RuntimeError: expected a Variable argument, but got list"
Hi,

I have been facing this issue from two days, I tried to figure that out but could not come up with a solution. I would really appreciate if someone can guide me where I am going wrong.

The below line calls the RCNN with a list and rois as input.

https://github.com/uber-research/UPSNet/blob/aa8434e5a721ed217849607815304f68dfd7720a/upsnet/models/resnet_upsnet.py#L200

RCNN class in turns call

[2022-02-08 16:30] kulkarnikeerti opened #148 "Dataset overview"
I have a difficulty in understanding what the dataset structure looks like. Can someone guide me or give a reference where I can read it for myself?

Because the model expects `data['im_info']` I don't understand what is `im_info` contains here. I would really appreciate for any assistance here.

thanks in advance

[2022-08-31 08:38] gedaye11 commented on #56
Hi @lfdeep Could you please send me your visualization code for COCO? My email is 909915571@qq.com.

[2022-09-05 09:17] moshuilanting commented on #105
init.sh 编译的时候应该就存在问题，进到operators重新编译build_deform_conv.py

cd ../operators
python build_deform_conv.py build_ext --inplace

我会报这个错误 "error: ‘THCState_getCurrentStream’ was not declared in this scope"
找到对应行把“THCState_getCurrentStream(state)”都替换为c10::cuda::getCurrentCUDAStream()，这个问题就没了

[2022-11-05 00:23] TANKYHAWK opened #149 "Shipments not recieved"